<!--{if $_G['uid']}-->
	<div class="userinfo">
		<div class="userinfoavatar"><a href="home.php?mod=spacecp&ac=avatar"><!--{avatar($_G[uid],small)}--></a></div>
		<div class="userinfolist">
			<p>
				<a href="home.php?mod=space&uid=$_G[uid]" target="_blank" class="bluecolor" title="{lang visit_my_space}">{$_G[member][username]}</a><span class="pipe">-</span><a href="home.php?mod=spacecp&ac=usergroup">$_G[group][grouptitle]<!--{if $_G[member]['freeze']}-->（{lang freeze}）<!--{/if}--></a><!--{hook/global_usernav_extra1}--><!--{hook/global_usernav_extra2}--><!--{hook/global_usernav_extra3}--><!--{hook/global_usernav_extra4}-->
			</p>
			<p>
				<a href="javascript:;" id="myitem" class="showmenu" onmouseover="showMenu({'ctrlid':'myitem'});">我的中心<i></i></a><span class="pipe">-</span><a href="home.php?mod=space&do=notice" id="myprompt" class="showmenu{if $_G[member][newprompt]} new{/if}" onmouseover="showMenu({'ctrlid':'myprompt'});">{lang remind}<!--{if $_G[member][newprompt]}-->($_G[member][newprompt])<!--{/if}--><i></i></a><span id="myprompt_check"></span><!--{if $_G['uid'] && $_G['group']['radminid'] > 1}--><span class="pipe">-</span><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a><!--{/if}--><!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}--><span class="pipe">-</span><a href="admin.php" target="_blank">{lang admincp}</a><!--{/if}--><span class="pipe">-</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
			</p>
		</div>
	</div>

<!--{elseif !empty($_G['cookie']['loginuser'])}-->
	<div class="login">
		<strong><a id="loginuser" class="noborder"><!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--></a></strong>
		<span class="pipe">|</span><a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">{lang activation}</a>
		<span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
	</div>
<!--{elseif !$_G[connectguest]}-->
	<div class="login">
		<a href="member.php?mod=logging&action=login&referer={echo rawurlencode($dreferer)}" onclick="showWindow('login', this.href);return false;">{lang login}</a><span class="pipe">/</span><a href="member.php?mod={$_G[setting][regname]}">$_G['setting']['reglinkname']</a>
	</div>
<!--{else}-->

	<div class="uerrinfo">
		<div class="userinfoavatar"><!--{avatar(0,small)}--></div>
		<div class="userinfolist">
			<p><strong>{$_G[member][username]}</strong><span class="pipe">-</span>$_G[group][grouptitle]</p>
			<p><a href="home.php?mod=spacecp&ac=credit&showcredit=1">{lang credits}: 0</a><span class="pipe">-</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a></p>
		</div>
	</div>
<!--{/if}-->

<!--{if !IS_ROBOT}-->
			<!--{if $_G['uid']}-->
			<ul id="myprompt_menu" class="p_pop" style="display: none;">				
				<li><a href="home.php?mod=space&do=pm" id="pm_ntc"><em class="new{if empty($_G[member][newpm])}_0{/if}"></em>{lang pm_center}</a></li>
				<!--{if $_G[member][newprompt] && $_G[member][newprompt_num][follow]}-->
					<li><a href="home.php?mod=follow"><em></em><!--{lang notice_interactive_follow}-->($_G[member][newprompt_num][follow])</a></li>
				<!--{/if}-->
				<!--{if $_G[member][newprompt]}-->
					<!--{loop $_G['member']['category_num'] $key $val}-->
						<li><a href="home.php?mod=space&do=notice&view=$key"><em></em><!--{echo lang('template', 'notice_'.$key)}-->(<span class="redcolor">$val</span>)</a></li>
					<!--{/loop}-->
				<!--{/if}-->
			</ul>
			<!--{/if}-->
			<!--{if $_G['uid']}-->
				<ul id="myitem_menu" class="p_pop" style="display: none;">
					<li><a href="home.php?mod=spacecp"><em></em>基本{lang setup}</a></li>
					<li><a href="home.php?mod=spacecp&ac=credit&showcredit=1"><em></em>{lang credits}: $_G[member][credits]</a></li>
					<li><a href="home.php?mod=space&uid=$_G[uid]&do=thread&view=me&from=space"><em></em>{lang mypost}</a></li>
					<li><a href="home.php?mod=space&do=favorite&view=me"><em></em>{lang favorite}</a></li>
				</ul>
			<!--{/if}-->
		<!--{/if}-->