<!--{subtemplate common/header_common}-->

	<!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
		<link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
	<!--{/if}-->
	<!--{if !empty($rsshead)}-->$rsshead<!--{/if}-->
	<!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
	<!--{/if}-->
	<script src="static/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript">jQuery.noConflict();</script>
	<script src="static/js/jquery.bbs.js"></script>
</head>

<body id="nv_{$_G[basescript]}" class="pg_{CURMODULE}{if $_G['basescript'] === 'portal' && CURMODULE === 'list' && !empty($cat)} {$cat['bodycss']}{/if}" onkeydown="if(event.keyCode==27) return false;">
	<div id="append_parent"></div><div id="ajaxwaitid"></div>

	<!--{if empty($topic)}-->
		<div id="header">
			<div class="top">
				<div class="logo"><a href="" title="联想社区">联想社区</a></div>
				<!--{template common/header_userstatus}-->
			</div>
		</div>

		<div id="menu">
			<div class="menu">
				<div class="nav">
				    <ul>
<li{if TopPoint == 'index'} class="on"{/if}><a href="/">首页</a></li><li class="cutline"></li>
<li{if TopPoint == 'model'} class="on"{/if}><a href="forum.php?operation=model">机型专区</a></li>
<li{if TopPoint == 'vibeui'} class="on"{/if}><a href="forum.php?mod=forumdisplay&fid=847">Vibe UI</a></li>
<li{if TopPoint == 'apps'} class="on"{/if}><a href="forum.php?operation=apps">乐家族产品</a></li>
<li{if TopPoint == 'game'} class="on"{/if}><a href="">游戏中心</a></li>
<li{if TopPoint == 'portal'} class="on"{/if}><a href="forum.php?operation=portal">乐玩广场</a></li><li class="cutline"></li>
<li{if TopPoint == 'buglist'} class="on"{/if}><a href="forum.php?mod=forumdisplay&fid=730">用户反馈</a></li>
				    </ul>
		   		 </div>
			</div>
			<div class="right">
				<!--{subtemplate common/pubsearchform}-->
			</div>
		</div>
		
	<!--{/if}-->



	<div id="container">
