<!--{template common/header}-->
<div id="sign">
	<div class="mn" id="main_message">
		<div class="signtop">
		</div>
	</div>

	<div id="main_messaqge_$loginhash" class="signbox">
		<div id="layer_login_$loginhash">
			<h3 class="loginboxtitle">
				<em>{lang getpassword}</em>
			</h3>
			<form method="post" autocomplete="off" action="member.php?mod=getpasswd&uid=$uid&id=$hashid">
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				<div class="pad20">
					<div class="loginbox loginboxcoo">
						<ul>
							<li class="loginboxname">{lang username}</li>
							<li class="loginboxinput">
								<a href="home.php?mod=space&uid=$invite[uid]" target="_blank">$member[username]</a>
							</li>
							<li class="loginboxtip">
							</li>
						</ul>
					</div>
					<div class="loginbox">
						<ul>
							<li class="loginboxname">{lang new_password}</li>
							<li class="loginboxinput">
								<input type="password" id="newpasswd1" name="newpasswd1" size="30" class="px p_fre" />
							</li>
							<li class="loginboxtip">
								<i class="d" id="chk_newpasswd1">{lang register_password_tips}<!--{if $_G['setting']['pwlength']}-->, {lang register_password_length_tips1} $_G['setting']['pwlength'] {lang register_password_length_tips2}<!--{/if}--></i>
							</li>
						</ul>
					</div>
					<div class="loginbox">
						<ul>
							<li class="loginboxname">{lang new_password_confirm}</li>
							<li class="loginboxinput">
								<input type="password" id="newpasswd2" name="newpasswd2" size="30" class="px p_fre" />
							</li>
							<li class="loginboxtip">
								<em><i id="tip_newpasswd1" class="p_tip"></i><em><em><i id="tip_newpasswd2" class="p_tip"></i><em>
							</li>
						</ul>
					</div>
					<div class="loginbox">
					<ul>
						<li class="loginboxname"></li>
						<li class="loginboxinput loginboxreg">
							<button class="pn pnc" type="submit" name="getpwsubmit" value="true"><span>{lang submit}</span></button>
						</li>
					</ul>
				</div>
				</div>
			</form>
			<script type="text/javascript" src="{$_G[setting][jspath]}register.js?{VERHASH}"></script>
			<script type="text/javascript">
				var strongpw = new Array();
				<!--{if $_G['setting']['strongpw']}-->
					<!--{loop $_G['setting']['strongpw'] $key $val}-->
					strongpw[$key] = $val;
					<!--{/loop}-->
				<!--{/if}-->
				var pwlength = <!--{if $_G['setting']['pwlength']}-->$_G['setting']['pwlength']<!--{else}-->0<!--{/if}-->;
				checkPwdComplexity($('newpasswd1'), $('newpasswd2'));
			</script>
		</div>
	</div>


</div>	


<!--{template common/footer}-->