<!--{loop $articles $value}-->
<div class="listcontent">
	<h2><a href="$value[url]">$value[title]</a></h2>
	<div class="listcontentclass">$value['datetag']<span class="pipe">/</span><a href="forum.php?mod=forumdisplay&fid=$value[fid]">$value['forumname']</a></div>
	<div class="listcontentimg"><a href="$value[url]"><img src="$value[titlepic]" title="$value[title]" alt="$value[title]"></a></div>
	<div class="listcontentshort">$value[content]</div>
	<div class="listcontentreadmore"><a href="$value[url]">$value[replies] 人回复 &raquo;</a></div>
	<div class="listcontentauthor">
		<div class="dhk"></div>
		<a href="home.php?mod=space&uid=$value[authorid]"><!--{avatar($_G[uid])}--></a>
		<div class="author"><a href="home.php?mod=space&uid=$value[authorid]" target="_blank">$value[author]</a></div>
	</div>
</div>
<!--{/loop}-->