<!--{template common/header}-->

<div id="container">
	<div id="main">
		<!-- 主内容列表 -->
		<div class="indexlist">

			<!--{loop $articles $value}-->
			<div class="listcontent">
				<h2><a href="$value[url]">$value[title]</a></h2>
				<div class="listcontentclass">$value['datetag']<span class="pipe">/</span><a href="forum.php?mod=forumdisplay&fid=$value[fid]">$value['forumname']</a></div>
				<div class="listcontentimg"><a href="$value[url]"><img src="$value[titlepic]" title="$value[title]" alt="$value[title]"></a></div>
				<div class="listcontentshort">$value[content]</div>
				<div class="listcontentreadmore"><a href="$value[url]">$value[replies] 人回复 &raquo;</a></div>
				<div class="listcontentauthor">
					<div class="dhk"></div>
					<a href="home.php?mod=space&uid=$value[authorid]"><!--{avatar($value[authorid])}--></a>
					<div class="author"><a href="home.php?mod=space&uid=$value[authorid]" target="_blank">$value[author]</a></div>
				</div>
			</div>
			<!--{/loop}-->
			<div id="pmore">
					<a href="javascript:loadcontent()">阅读更多文章...</a>
					<script>var loadding = false,loadnum = 0,loadoffset = {echo ($page-1)*$pagenum};</script>
			</div>
			<div id="pg">$multipage</div>
		</div>

	</div>

	<!-- 边框 -->
	<div id="sidebar">
		<!--{template extend/sidebar}-->
	</div>
	
</div>
<!--{if $_G['cookie']['welcome_lenovo']}-->


<div id="layer_bbrule" style="display: none">
<div class="c" style="width:700px;height:350px;overflow:auto"><br />
重要须知：<br />
　　本协议是您与康盛公司及其合作单位（以下简称：“康盛公司”）之间关于康盛公司提供的各种产品及服务（以下统称：康盛产品）的法律协议。 康盛在此特别提醒，您欲使用康盛产品，必须事先认真阅读本服务条款中各条款，包括免除或者限制康盛责任的免责条款及对您的权利限制。请您审阅并接受或不接受本服务条款（未成年人审阅时应得到法定监护人的陪同）。如您不同意本服务条款及/或康盛随时对其的修改，您应不使用或主动取消康盛公司提供的康盛产品。否则，您的任何对康盛产品中的相关服务的登陆、下载、查看等使用行为将被视为您对本服务条款全部的完全接受，包括接受康盛对服务条款随时所做的任何修改。<br />
　　本服务条款一旦发生变更, 康盛将在网页上公布修改内容。修改后的服务条款一旦在网页上公布即有效代替原来的服务条款。您可随时登陆康盛官方论坛查阅最新版服务条款。<br />
<br />
<br />
<br />
</div>
</div>
<script>
showDialog($('layer_bbrule').innerHTML, 'info', 'Discuz! 官方站 网站服务条款');
</script>
<!--{/if}-->

<!--{template common/footer}-->
