<!--{template common/header}-->

<div id="container">
	<div id="main">
		<!-- 主内容列表 -->
		<div class="indexlist">

			<!--{loop $articles $value}-->
			<div class="listcontent">
				<h2><a href="$value[url]">$value[title]</a></h2>
				<div class="listcontentclass">$value['datetag']<span class="pipe">/</span><a href="forum.php?mod=forumdisplay&fid=$value[fid]">$value['forumname']</a></div>
				<div class="listcontentimg"><a href="$value[url]"><img src="$value[titlepic]" title="$value[title]" alt="$value[title]"></a></div>
				<div class="listcontentshort">$value[content]</div>
				<div class="listcontentreadmore"><a href="$value[url]">$value[replies] 人回复 &raquo;</a></div>
				<div class="listcontentauthor">
					<div class="dhk"></div>
					<a href="home.php?mod=space&uid=$value[authorid]"><!--{avatar($value[authorid])}--></a>
					<div class="author"><a href="home.php?mod=space&uid=$value[authorid]" target="_blank">$value[author]</a></div>
				</div>
			</div>
			<!--{/loop}-->
			<div id="pmore">
					<a href="javascript:loadcontent()">阅读更多文章...</a>
					<script>var loadding = false,loadnum = 0,loadoffset = {echo ($page-1)*$pagenum};</script>
			</div>
			<div id="pg">$multipage</div>
		</div>

	</div>

	<!-- 边框 -->
	<div id="sidebar">
		<!--{template extend/sidebar}-->
	</div>
	
</div>
<!--{if $_G['cookie']['welcome_lenovo']}-->


<div id="layer_bbrule" style="display: none">
<div class="c" style="width:700px;height:230px; overflow:auto">
	<p style="margin:10px 0; padding:0 10px;">
		<strong class="redcolor">$_G[username]</strong>，感谢使用联想通行证登陆乐玩家社区，接下来您可以完善自己的社区账号信息，以便我们为您更好的服务。
	</p>
	<p style=" padding:0 10px;">
		● 修改乐玩家社区用户名
		<br />● 修改联系邮箱
		<br />● 增加社区独立密码
		<br />● ...
	</p>
	<p style="text-align:right; margin-top:30px; padding:0 10px;">
		<a href="home.php?mod=spacecp&ac=plugin&opdo=accountchange" class="redbutton">立刻完善我的信息</a>
	</p>
</div>
</div>
<script>
showDialog($('layer_bbrule').innerHTML, 'info', '联想通行证帐号完善');
setcookie('welcome_lenovo', '', -2592000);
</script>
<!--{/if}-->

<!--{template common/footer}-->
