<!--{template common/header}-->

<div class="buglist">

	<div class="breadcrumbs">
			<a href="./">$_G[setting][bbname]</a>$navigation
	</div>

	<div id="main">

		<div class="bbsinfo">
			<div class="bbsinfoabout">
				<div class="bbsinfoname">
					<h1><a href="forum.php?mod=forumdisplay&fid=$_G[fid]">$_G['forum'][name]</a></h1>
				</div>
				<div class="bbsinfomenu">
					<a href="forum.php?mod=forumdisplay&fid=$_G[fid]" {if !$view}class="on"{/if}>所有反馈</a>
					<a href="forum.php?mod=forumdisplay&fid=$_G[fid]&view=me" {if $view == 'me'}class="on"{/if}>我的反馈</a>
					<!--{if in_array($GLOBALS[myPermission]['dist'],array(1,3,4))}-->
					<a href="forum.php?mod=forumdisplay&fid=$_G[fid]&view=mydo" {if $view == 'mydo'}class="on"{else} style="background: #ECCFEA;"{/if}>我的处理</a>
					<!--{/if}-->
				</div>
			</div>
			<div class="bbsinfostat">
				<div class="bbsinfostatmod">
				<!--{if $moderatedby}--><div class="right">版主：$moderatedby</div><!--{/if}-->
				今日：<strong>$_G[forum][todayposts]</strong><span class="pipe">/</span>主题：$_G[forum][threads]
				</div>
			</div>
		</div>

		<div class="listbg">


			<div class="forumorder">
				<!--{if $view != 'mydo'}-->
				<div class="right"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]" class="greenbutton">提交反馈</a></div>
				<!--{/if}-->
				<div class="forumorderlist">
					<ul>
					<!--{loop $_Data['buglist_handling'] $key $value}-->
						<!--{eval if ($key>3 || $view == 'mydo'&&$key==0)continue;}-->
						{if isset($handling) && $handling == $key}
							<li class="on"><a href="forum.php?mod=forumdisplay&fid=$_G[fid]{echo $view?'&view=me':''}{echo $this->GetSelectUrl($classid,NULL,$hardware,$version)}"><i class="$value[icon]"></i>$value[title]<img src="images/common/cancel.png"></a></li>
						{else}
							<li><a href="forum.php?mod=forumdisplay&fid=$_G[fid]{echo $view?'&view=me':''}{echo $this->GetSelectUrl($classid,$key,$hardware,$version)}"><i class="$value[icon]"></i>$value[title]</a></li>
						{/if}
					<!--{/loop}-->
					</ul>
				</div>
			</div>
			<!--{if !$view}-->
			<div class="forumclass">
				<div class="shadow"></div>
				<div class="forumclasslist">
					<ul>
						<li class="forumclasslistli">
							<div class="forumclasslisttype">分类</div>
							<div class="forumclasslists">
								<ul>
								<!--{loop $_Data['buglist'] $key $value}-->
									<!--{eval if (strlen($key) != 1) continue;}-->
									{if substr($classid,0,1) == $key}
										<li class="_bugc on" cid="$key"><a href="forum.php?mod=forumdisplay&fid=$_G[fid]{echo $this->GetSelectUrl(NULL,$handling,$hardware,$version)}">$value<img src="images/common/cancel.png"></a><i></i></li>
									{else}
										<li class="_bugc" cid="$key"><a href="forum.php?mod=forumdisplay&fid=$_G[fid]{echo $this->GetSelectUrl($key,$handling,$hardware,$version)}">$value</a><i></i></li>
									{/if}
								<!--{/loop}-->
								</ul>
							</div>
						</li>
						<li class="forumclasslistli">
							<div class="forumclasslisttype">模块</div>
							<div class="forumclasslists">
								<ul class="_bugsc">
								<!--{loop $_Data['buglist'] $key $value}-->
									<!--{eval if (strlen($key) == 1) continue;}-->
									<!--{eval $topid = substr($key,0,1);}-->
									{if $classid == $key}
										<li class="_bugsc_$topid {if substr($classid,0,1) != $topid}_dis{/if} on"><a href="forum.php?mod=forumdisplay&fid=$_G[fid]{echo $this->GetSelectUrl($topid,$handling,$hardware,$version)}">$value <span>$TotalNum</span><img src="images/common/cancel.png"></a><i></i></li>
									{else}
										<li class="_bugsc_$topid {if $classid && (substr($classid,0,1) != $topid) || (!$classid&&($topid!=1))}_dis{/if}"><a href="forum.php?mod=forumdisplay&fid=$_G[fid]{echo $this->GetSelectUrl($key,$handling,$hardware,$version)}">$value</a><i></i></li>
									{/if}
								<!--{/loop}-->
								</ul>
							</div>
						</li>
						<li class="forumclasslistli">
							<div class="forumclasslisttype">筛选</div>
							<div class="forumclasslistdrop">
								<select class="_modelver" onchange="location.href=this.value"> 
									<option {if !$hardware} selected{/if} value="forum.php?mod=forumdisplay&fid=$_G[fid]{echo $this->GetSelectUrl($classid,$handling,NULL,$version)}" >全部机型</option>
									<!--{loop $hardwarelist $value}-->
									<option {if $hardware == $value[id]} selected{/if} value="forum.php?mod=forumdisplay&fid=$_G[fid]{echo $this->GetSelectUrl($classid,$handling,$value[id],$version)}">$value[title]</option>
									<!--{/loop}-->
								</select>

								<select class="_modelver" onchange="location.href=this.value"> 
									<option {if !$hardware} selected{/if} value="forum.php?mod=forumdisplay&fid=$_G[fid]{echo $this->GetSelectUrl($classid,$handling,$hardware,NULL)}" >全部版本号</option>
									<!--{loop $versionlist $value}-->
									<option {if $version == $value[id]} selected{/if} value="forum.php?mod=forumdisplay&fid=$_G[fid]{echo $this->GetSelectUrl($classid,$handling,$hardware,$value[id])}">$value[title]</option>
									<!--{/loop}-->
								</select>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--{/if}-->

			<div class="viewlist">
				<div class="listhead viewlistli">
		    	 	<ul>
		    	 		<li class="ttime">提交时间</li>
		    	 		<li class="tstatus">状态</li>
		    	 		<li class="tpostname">反馈说明</li>
		    	 		<li class="tcounter">遇到人数</li>
		    	 		<li class="tauthor">提交人</li>
		    	 	</ul>
				</div>
				<!--{loop $threadlist $thread}-->
		    	<div class="viewlistli">
		    	 	<ul>
		    	 		<li class="ttime">$thread[dateline]</li>
		    	 		<li class="tstatus"><em class="$thread[handlingstylec]">$thread['handlingtxt']</em>
						<!--{if $view == 'mydo'}-->
							<p>
							<span title="[ {$thread['handlingarray']['username']} ] $thread['handlingarray']['name'] $thread['handlingarray']['itcode']  {echo date('Y-m-d H:i',$thread['handlingarray']['dateline']);}">$thread['handlingarray']['name']</span></p>
						<!--{/if}-->
						</li>
		    	 		<li class="tpostname">
		    	 			<div class="pin">
										<!--{if in_array($thread['displayorder'], array(1, 2, 3, 4))}-->
											<img src="/images/common/pin.gif" title="$_G[setting][threadsticky][3-$thread[displayorder]]" />
										<!--{/if}-->
									</div>
									
									<!--{eval $classtxt = $_Data['buglist'][$thread[classid]];}-->
									<!--{if strlen($thread[classid])>1 && substr($thread[classid],0,1)==2 }-->
											<!--{eval $topclassid = substr($thread[classid],0,1);}-->
											<!--{eval $classtoptxt = $_Data['buglist'][$topclassid];}-->
									<!--{else}-->
											<!--{eval $classtoptxt = '';}-->
									<!--{/if}-->
		    	 			<a href="forum.php?mod=viewthread&fid=$thread[fid]&tid=$thread[tid]{if $extra}extra=$extra{/if}"$thread[highlight]{if $thread['isgroup'] == 1 || $thread['forumstick']} target="_blank"{else} onclick="atarget(this)"{/if}>$thread[subject]</a>
							<!--{if $thread[icon] >= 0}-->
											<img src="{STATICURL}image/stamp/{$_G[cache][stamps][$thread[icon]][url]}" alt="{$_G[cache][stamps][$thread[icon]][text]}" align="absmiddle" />
										<!--{/if}-->
										<!--{if $stemplate && $sortid}-->$stemplate[$sortid][$thread[tid]]<!--{/if}-->
										<!--{if $thread['attachment'] == 2}-->
											<img src="/images/common/image_s.gif" alt="attach_img" title="{lang attach_img}" align="absmiddle" />
										<!--{elseif $thread['attachment'] == 1}-->
											<img src="/images/common/common.gif" alt="attachment" title="{lang attachment}" align="absmiddle" />
										<!--{/if}-->
										<!--{if $thread['mobile']}-->
											<img src="{IMGDIR}/mobile-attach-$thread['mobile'].png" title="{lang post_mobile}" align="absmiddle" />
										<!--{/if}-->
										<!--{if $thread['digest'] > 0 && $filter != 'digest'}-->
											<img src="/images/common/digest.gif" align="absmiddle" alt="digest" title="{lang thread_digest} $thread[digest]" />
										<!--{/if}-->
										<!--{if $thread['displayorder'] == 0}-->
											<!--{if $thread['rate'] > 0}-->
												<img src="/images/common/agree.gif" align="absmiddle" alt="agree" title="{lang rate_credit_add}" />
											<!--{elseif $thread['rate'] < 0}-->
												<img src="/images/common/disagree.gif" align="absmiddle" alt="disagree" title="{lang posts_deducted}" />
											<!--{/if}-->
										<!--{/if}-->
							<!--{if $classtxt}--><i class="classttxt" title="{if $classtoptxt}$classtoptxt -> {/if}$classtxt">$classtxt</i><!--{/if}-->
							<!--{if $thread[supply] && !$thread[supplytime]}--><i class="redcolor">需补充</i><!--{/if}-->


						<!--{if $view == 'mydo'}-->
							<!--{if $thread['note']}-->
							<br><span class="buglist_note" style="color: #5fb336;" title="[ {$thread['note']['username']} ] $thread['note']['name'] $thread['note']['itcode'] {echo date('Y-m-d H:i',$thread[note][dateline]);} 备注">$thread['note']['message']</span>
							<!--{/if}-->
						<!--{/if}-->


		    	 		</li>
		    	 		<li class="tcounter">$thread[samenum]</li>
		    	 		<li class="tauthor"><a href="home.php?mod=space&uid=$thread[authorid]">$thread[author]</a></li>
		    	 	</ul>
		    	</div>
				<!--{/loop}-->
			</div>
		</div>
		<div id="pg">$multipage</div>

	</div>

	<!-- 边框 -->
	<div id="sidebar">
		<!--{template extend/sidebar}-->
	</div>
</div>

<!--{template common/footer}-->
