<!--{eval $topclassid = substr($bthread[classid],0,1);}-->
<!--{eval $classtoptxt = $_Data['buglist'][$topclassid];}-->
<h3>{if $classtoptxt}$classtoptxt {else}联想{/if}工程师互动</h3>
<!--{loop $buglogs  $value}-->
<div class="solvelist">
	<div class="solvemain">
		<div class="solvelisttop">
			<small title="{echo date('Y-m-d H:i',$value[dateline]);}">{echo date('m-d H:i',$value[dateline]);}</small><i></i>
			<strong>$value[showname]</strong>（<em><!--{if $value[dist]}-->$value[title]<!--{else}-->反馈者<!--{/if}--></em>）
		<!--{if Library::getstatus($value[status],1)}-->
			<!--{if Library::getstatus($value[status],2)}-->反馈者补充<!--{else}-->未更改状态， 需要反馈者补充<!--{/if}-->
		<!--{else}-->
		状态更改为 <span style="color:$_Data['buglist_handling'][$value[handling]][color]">$_Data['buglist_handling'][$value[handling]][title] </span>
		<!--{/if}-->
			

		</div>
		<!--{if $value[message]}-->
		<div class="solvecontent">$value[message]</div>
		<!--{/if}-->
	</div>
</div>
<!--{/loop}-->