<!--{subtemplate common/header}-->
		<!--{eval include template('header',0, './develop/manage/template');}-->
		<div class="mgcont">
			<div class="mgtit">
				$manageitem_array[$action]
				<p><a href="manage.php?action=$action&operation=update"{if $operation=='update'} class="select"{/if}>添加</a><a href="manage.php?action=$action&operation=list"{if $operation=='list'} class="select"{/if}>列表</a></p>
			</div>
			<form method="post" autocomplete="off" action="manage.php?action={$action}&operation=update" enctype="multipart/form-data">
			<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
			<!--{if $id}-->
			<input type="hidden" name="id" value="{$id}" />
			<!--{/if}-->
			
			<table class="distpermission" cellpadding="2" cellspacing="2" border="0" width="100%">
				<tr  class="tit">
					<td  colspan="2">分发权限</td>
				</tr>
				<tr>
					<td  class="tit">用户名</td>
					<td  ><input type="text" name="bughwver[username]" value="{$bughwver_One['username']}" /></td>
				</tr>
				<tr>
					<td  class="tit">中文姓名</td>
					<td  ><input type="text" name="bughwver[name]" value="{$bughwver_One['name']}" /></td>
				</tr>
				<tr>
					<td class="tit">用户级别</td>
					<td >
						<input type="radio" class="roundbix" name="bughwver[dist]" {if !$bughwver_One['dist']}checked{/if} value="0" onchange="distvar(this.value,this.checked)">无级别
						<input type="radio" class="roundbix" name="bughwver[dist]" {if $bughwver_One['dist']==1}checked{/if} value="1" onchange="distvar(this.value,this.checked)">产品经理 
						<input type="radio" class="roundbix" name="bughwver[dist]" {if $bughwver_One['dist']==2}checked{/if} value="2" onchange="distvar(this.value,this.checked)">产品工程师
						<input type="radio" class="roundbix" name="bughwver[dist]" {if $bughwver_One['dist']==3}checked{/if} value="3" onchange="distvar(this.value,this.checked)">反馈工程师
						<input type="radio" class="roundbix" name="bughwver[dist]" {if $bughwver_One['dist']==4}checked{/if} value="4" onchange="distvar(this.value,this.checked)">信息专员
					 </td>
				</tr>
				
				<tr>
					<td ></td>
					<td ><button type="submit" id="postsubmit" class="whitec darkga mfont" value="true" name="topicsubmit"><span> 更新 </span></button>
					</td>
				</tr>
			</table>
			</form>
		</div><!-- mgcont -->
	</div><!-- manage -->
</div>
<!--{subtemplate common/footer}-->