<!--{subtemplate common/header}-->
	<!--{eval include template('header',0, './develop/manage/template');}-->
	<div class="mmain">
			<div class="mhead">
				<div  class="mheadmenu"><a href="manage.php?action=$action&operation=update"{if $operation=='update'} class="select"{/if}>添加</a><a href="manage.php?action=$action&operation=list"{if $operation=='list'} class="select"{/if}>列表</a></div>
				<h3>$manageitem_array[$action]</h3>
			</div>
			<div class="mlist">
		<table cellpadding="0" cellspacing="0" width="100%">
<tr class="managetablehead">
	<td width="5%" class="first">ID</td>
	<td width="60%">标题</td>
	<td width="10%">分类</td>
	<td width="13%" class="last">管理</td>
</tr>
<!--{if $articletaglist}-->
<!--{loop $articletaglist $value}-->
<tr>
	<td class="first">{$value[id]}</td>
	<td> {$value[name]} <!--{if $value[namedesc]}-->({$value[namedesc]})<!--{/if}--></td>
	<td >
	<!--{loop $_Data['ArticleType'] $cid $name}-->
		{if  $cid == $value[typeid]}$name{/if}
	<!--{/loop}-->

	</td>
	<td class="last">
		<a href="manage.php?action={$action}&operation=update&id={$value[id]}" class="graysmallbutton">编辑</a><a href="manage.php?action={$action}&operation=delete&id={$value[id]}" class="graysmallbutton">删除</a>
	</td>
</tr>


<!--{/loop}-->
		<!--{else}-->
		<tr>
			<td colspan="4">查询不到任何数据</th>
		</tr>
		<!--{/if}-->
		</table>
<!--{if $multipage}-->
				$multipage
			<!--{/if}-->
		</div>
	</div><!-- mgcont -->
</div><!-- manage -->

</div>

<!--{subtemplate common/footer}-->