<!--{subtemplate common/header}-->
		<!--{eval include template('header',0, './develop/manage/template');}-->
		<div class="mmain">
		<div class="mhead">
			<div class="mheadmenu">
				<!--{if $myPermission['hardware']}-->
				<a href="manage.php?action=$action&operation=update"{if $operation=='update'} class="select"{/if}>添加硬件</a>
				<!--{/if}-->
				<!--{if $myPermission['version']}-->
				<a href="manage.php?action=$action&operation=vupdate"{if $operation=='vupdate'} class="select"{/if}>添加版本</a>
				<!--{/if}-->
				<!--{if $myPermission['bugattr']}-->
				<a href="manage.php?action=$action&operation=aupdate"{if $operation=='aupdate'} class="select"{/if}>添加问题属性</a>
				<!--{/if}-->
				<a href="manage.php?action=$action&operation=list"{if $operation=='list'} class="select"{/if}>列表</a>
				</div>
				<h3>$manageitem_array[$action]</h3>
			</div>
			<form method="post" autocomplete="off" action="manage.php?action={$action}&operation=$operation" enctype="multipart/form-data">
			<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
			<!--{if $id}-->
			<input type="hidden" name="id" value="{$id}" />
			<!--{/if}-->
			
			<div class="mlist noborder">
			<table cellpadding="2" cellspacing="2" width="100%">
				<tr>
					<td  class="name">硬件标题</td>
					<td  ><input type="text" class="px" name="bughwver[title]" value="{$bughwver_One['title']}" /></td>
				</tr>
				<tr>
					<td  class="name">硬件归属类别</td>
					<td>
					<select name="bughwver[type]"  size="5">
						<!--{loop $_Data['hardware'] $key $name}-->
						<!--{eval if(!isMyHW($key)) continue;}-->
						<option value ="$key" {if  $key == $bughwver_One['type']}selected="selected"{/if}  >$name</option>
						<!--{/loop}-->
					</select>
					
					</td>
				</tr>
				<tr>
					<td class="name">排序</td>
					<td  ><input type="text" name="bughwver[order]" class="px" value="{$bughwver_One['order']}" />  (数字越小 越靠前)</td>
				</tr>
				<tr>
					<td ></td>
					<td ><button type="submit" value="true" name="topicsubmit" class="bluebutton"><span> 提 交 </span></button>
					</td>
				</tr>
			</table>
			</form>
		</div><!-- mgcont -->
	</div><!-- manage -->
</div>
<!--{subtemplate common/footer}-->