<!--{subtemplate common/header}-->
	<!--{eval include template('header',0, './develop/manage/template');}-->
	<div class="mmain">
		<div class="mhead">
			<div class="mheadmenu">
				<!--{if $myPermission['hardware']}-->
				<a href="manage.php?action=$action&operation=update"{if $operation=='update'} class="select"{/if}>添加硬件</a>
				<!--{/if}-->
				<!--{if $myPermission['version']}-->
				<a href="manage.php?action=$action&operation=vupdate"{if $operation=='vupdate'} class="select"{/if}>添加版本</a>
				<!--{/if}-->
				<!--{if $myPermission['bugattr']}-->
				<a href="manage.php?action=$action&operation=aupdate"{if $operation=='aupdate'} class="select"{/if}>添加问题属性</a>
				<!--{/if}-->
				<a href="manage.php?action=$action&operation=list"{if $operation=='list'} class="select"{/if}>列表</a>
				</div>
				<h3>$manageitem_array[$action]</h3>
			</div>
	<!--{if $myPermission['hardware']}-->
	<div class="mlist">
			<table cellpadding="2" cellspacing="2" width="100%">
		<tr class="managetablehead">
			<td colspan="5"><strong>硬件列表 ( 用于列表检索 )</strong></td>
		</tr>
		<tr class="managetablehead">
			<td width="10%">排序</td>
			<td width="45%" >名称</td>
			<td width="15%">类型</td>
			<td width="15%">创建时间</td>
			<td width="15%">操作</td>
		</tr>
		<!--{if $bughwlist}-->
			<!--{loop $bughwlist $i $value}-->
		<tr>
			<td class="first">{echo $value[order]?$value[order]:''}</td>
			<td>$value[title]</td>
			<td>{$_Data['hardware'][$value[type]]}</td>
			<td>{echo date('m-d H:i',$value[dateline]);}</td>
			<td class="last"><a href="manage.php?action={$action}&operation=update&id={$value[id]}" class="greensmallbutton">编辑</a><a href="manage.php?action={$action}&operation=delete&id={$value[id]}" onclick="return confirm('确认要删除 硬件类型: 「 $value[title] 」吗？')" class="graysmallbutton">删除</a></td>
		</tr>
			<!--{/loop}-->
		<!--{else}-->
		<tr class="managetablehead">
			<td colspan="5">查询不到任何数据</td>
		</tr>
		<!--{/if}-->
	</table>
	</div>
	<!--{/if}-->
	<!--{if $myPermission['version']}-->
	<div class="mlist">
			<table cellpadding="2" cellspacing="2" width="100%">
		<tr class="managetablehead">
			<td colspan="5"><strong>版本列表 ( 用于列表检索 )</strong></td>
		</tr>
		<tr class="managetablehead">
			<td width="10%">排序</td>
			<td width="45%">名称</td>
			<td width="15%">类型</td>
			<td width="15%">创建时间</td>
			<td width="15%">操作</td>
		</tr>
		<!--{if $bugverlist}-->
			<!--{loop $bugverlist $i $value}-->
		<tr>
			<td class="first">{echo $value[order]?$value[order]:''}</td>
			<td>$value[title]</td>
			<td>{$_Data['version'][$value[type]]}</td>
			<td>{echo date('m-d H:i',$value[dateline]);}</td>
			<td class="last"><a href="manage.php?action={$action}&operation=vupdate&id={$value[id]}" class="greensmallbutton">编辑</a><a href="manage.php?action={$action}&operation=vdelete&id={$value[id]}" onclick="return confirm('确认要删除 版本类型: 「 $value[title] 」吗？')" class="graysmallbutton">删除</a></td>
		</tr>
			<!--{/loop}-->
		<!--{else}-->
		<tr class="managetablehead">
			<td colspan="5">查询不到任何数据</td>
		</tr>
		<!--{/if}-->
	</table>
	</div>
	<!--{/if}-->

<!--{if $myPermission['bugattr']}-->
	<div class="mlist">
			<table cellpadding="2" cellspacing="2" width="100%">
		<tr class="managetablehead">
			<td colspan="5"><strong>BUG问题属性 ( 用于用户信息收集 )</strong></td>
		</tr>
		<tr class="managetablehead">
			<td width="10%">排序</td>
			<td width="45%">名称</td>
			<td width="15%">类型</td>
			<td width="15%">创建时间</td>
			<td width="15%">操作</td>
		</tr>
		<!--{if $bugattrlist}-->
			<!--{loop $bugattrlist $i $value}-->
		<tr class="managetablehead">
			<td class="first">{echo $value[order]?$value[order]:''}</td>
			<td>$value[title] {if $value[inputtype]}[选择框]{else}[输入框]{/if}</td>
			<td >{$_Data['bugattr'][$value[type]]}</td>
			<td>{echo date('m-d H:i',$value[dateline]);}</td>
			<td class="last"><a href="manage.php?action={$action}&operation=aupdate&id={$value[id]}" class="greensmallbutton">编辑</a><a href="manage.php?action={$action}&operation=adelete&id={$value[id]}" onclick="return confirm('确认要删除 BUG属性类型: 「 $value[title] 」吗？')" class="graysmallbutton">删除</a></td>
		</tr>
			<!--{/loop}-->
		<!--{else}-->
		<tr>
			<td colspan="5">查询不到任何数据</td>
		</tr>
		<!--{/if}-->
	</table>
</div>
	<!--{/if}-->


	</div><!-- mgcont -->
</div><!-- manage -->

</div>

<!--{subtemplate common/footer}-->