<div class="buglist_inbox">

<form method="post" id="buglistpostform">

<table cellpadding="2" cellspacing="2" border="0">
<tbody>

<tr>
	<td><h3>后台备注(必填,对信息进行后台备注,备注的内容显示在标题后)</h3>
	<textarea name="note"></textarea></td>
</tr>
<tr>
	<td class="last">
	<button type="button" onclick="javascript:BMDialog.close();" class="graysmallbutton"> 取 消 </button><button type="button" onclick="javascript:BMDialog.post('$id','note');" class="bluebutton"> 提 交 </button>
	</td>
</tr>
</tbody></table>
</form></div>