<!--{subtemplate common/header}-->
	<!--{eval include template('header',0, './develop/manage/template');}-->
	<div class="mmain">
			<div class="mhead">
			<h3>$manageitem_array[$action] / 
			我的级别:{if $myPermission[dist]==1}产品经理
			{elseif $myPermission[dist]==2}产品工程师
			{elseif $myPermission[dist]==3}反馈工程师
			{elseif $myPermission[dist]==4}信息专员{/if}</h3>
			<div  class="mheadmenu">
			<!--{loop $_Data['buglist_handling'] $k $v}-->
				<!--{if $k>0}-->
				<a href="manage.php?action=buglist&operation=list&handling=$k"{if $handling==$k} class="select"{/if}>$v[title]</a>
				<!--{/if}-->
			<!--{/loop}-->
			</div>
		</div>

		<div class="mlist">
		
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr class="managetablehead">
			<td width="20%">分类/硬件/版本</td>
			<td width="10%">状态/处理人</td>
			<td width="5%">遇到</td>
			<td width="55%">标题</td>
			<td width="10%">创建时间</td>
			
		</tr>
		<!--{if $buglists}-->
		<!--{loop $buglists $i $value}-->
		<tbody  class="content"> 
		<tr>
			<td class="first">
			<b>$_Data['buglist'][$value[classid]]</b>
			<br>$BugOption[hardware][$value[hardware]][title]
			<br>$BugOption[version][$value[version]][title]


			</td>
			<td>
			<!--{loop $_Data['buglist_handling'] $k $v}-->
				<!--{if $k == $value['handling']}-->
				<span class="handling" style="color:$v[color]">$v[title]</span> 
				<!--{/if}-->
			<!--{/loop}-->
			<!--{if $value['handlingarray']['name']}-->
			<p  class="_qtip_lc last">
			<span title="[ {$value['handlingarray']['username']} ] $value['handlingarray']['name'] $value['handlingarray']['itcode']  {echo date('Y-m-d H:i',$value['handlingarray']['dateline']);}
			">$value['handlingarray']['name']</span></p><!--{/if}-->
			</td>
			<td>$value[samenum]人</td>
		    <td class="_qtip_tr">
				<a href="forum.php?mod=viewthread&fid=$value[fid]&tid=$value[tid]" target="_blank" title="提问人: $value[author] 浏览量:$value[views]  回复数:$value[replies] ">$value[subject]</a>
				<!--{if $value['note']}-->
				<br><span class="buglist_note" title="[ {$value['note']['username']} ] $value['note']['name'] $value['note']['itcode'] {echo date('Y-m-d H:i',$value[note][dateline]);} 备注">$value['note']['message']</span>
				<!--{/if}-->

				<!--{if $value[supply] && $value[supplytime]}--><span title="用户已经于{echo date('Y-m-d H:i',$value[supplytime]);}补充信息" style="color:#EE00EE">[已补]</span>
				<!--{elseif $value[supply]}--><span title="工程师已设置该问题当前状态下需要用户补充信息" style="color:#EE82EE">[补充]</span>
				<!--{/if}-->
			</td>
			<td class="_qtip_tr"><span title="问题创建时间: {echo date('Y-m-d H:i',$value[dateline]);}">{echo date('m-d H:i',$value[dateline]);}</span></td>

			
		</tr>
		<tr class="tool" style="display:none" >
			<td class="_qtip_lc" colspan="8">
			<a onclick="BMDialog.property($value[tid],'#show_$value[tid]');" href="javascript:void(0);" class="bluesmallbutton" >属性</a>
			<!--{if  Library::BugWorkPerm($myPermission,$value)}-->
				<a  onclick="BMDialog.get(this,$value[tid]);" href="javascript:void(0);" title="处理该问题的流程" class="bluesmallbutton">处理</a>
				<!--{if $value['handling'] != 3}-->
				 <a onclick="BMDialog.get(this,$value[tid],'supply');" href="javascript:void(0);" title="操作让用户补充信息" class="bluesmallbutton">补充</a>
				<!--{/if}-->
				<a onclick="BMDialog.get(this,$value[tid],'note');" href="javascript:void(0);" title="对信息进行后台备注,备注的内容显示在标题后" class="bluesmallbutton">备注</a>
			<!--{/if}-->
			</td>
		</tr>
		<tr class="ajax" style="display:none">
			<td id="show_$value[tid]" style="display:none" colspan="8">查询不到任何数据</th>
		</tr>
		</tbody> 
		<!--{/loop}-->
		<!--{else}-->
		<tr class="managetablehead">
			<td colspan="9">查询不到任何数据</th>
		</tr>
		<!--{/if}-->
		</table>
		<!--{if $multipage}-->$multipage<!--{/if}-->
</div>
	</div><!-- mgcont -->
</div><!-- manage -->

</div>
<script>
jQuery('._qtip_tr [title!=""]').qtip({
	position: {my: 'bottom left', at: 'top left',adjust:{method: 'flip'}}
});

jQuery(function($) {
	if ($(".content").length > 0) {
		$(".content").click(function () {
			$(".content").removeClass("selected");
			$('.tool,.ajax').hide();
			$(this).addClass("selected").find('.tool').slideDown('slow');
		})
	};
});


jQuery('._qtip_lc [title!=""]').qtip({
	position: {my: 'center right', at: 'center left',adjust:{method: 'flip'}}
});
</script>

<!--{subtemplate common/footer}-->