<div class="buglist_inbox">

<form method="post" id="buglistpostform">

<table cellpadding="2" cellspacing="2" border="0">
<tbody>

<tr>
	<td><h3>需要用户补充信息的原因（用户前台可看到）</h3>
	<textarea name="message" ></textarea></td>
</tr>
<tr>
	<td><h3>后台备注</h3>
	<textarea name="note"></textarea></td>
</tr>
<tr>
	<td class="last">
	<button type="button" onclick="javascript:BMDialog.close();"  class="graysmallbutton"> 取 消 </button><button type="button" onclick="javascript:BMDialog.post('$id','supply');" class="bluebutton"> 提 交 </button>
	</td>
</tr>
</tbody></table>
</form></div>