<div class="buglist_inbox">

<form method="post" id="buglistpostform">
<table cellpadding="2" cellspacing="2" border="0" width="500">
<tbody>
<tr>
	<td>状态设置<br>

<!--{loop $_Data['buglist_handling'] $k $v}-->
	<input type="radio" class="handling_radio" name="handling" value="$k" {if $k == $onebuglist['handling']}checked{/if} {if  !BugWorkPerm($myPermission,$onebuglist,$k)}disabled{/if}><span class="handling" style="color:$v[color]">$v[title]</span>
	<!--{if $k != 4}--><img src="http://png-5.findicons.com/files/icons/2676/pixicus/10/arrow_right.png"><!--{/if}-->
<!--{/loop}-->

</td>
</tr>
<tr>
	<td>处理说明（用户前台可看到）<br>
	<textarea name="message"   style="height:50px;width:400px" ></textarea></td>
</tr>
<tr>
	<td>后台备注<br>
	<textarea name="note" style="height:50px;width:400px"></textarea></td>
</tr>

<tr>
	<td>
	<button type="button" onclick="javascript:BMDialog.post('$id','process');"> 提 交 </button>
	<button type="button" onclick="javascript:BMDialog.close();"> 取 消 </button>
	</td>
</tr>
</tbody></table>
</form></div>