<div class="buglist_inbox">

<form method="post" id="buglistpostform">
<table cellpadding="2" cellspacing="2" border="0" width="500">
<tbody>
<tr>
	<td><h3>状态设置</h3>

<!--{loop $_Data['buglist_handling'] $k $v}-->
	<input type="radio" class="pc" name="handling" value="$k" {if $k == $onebuglist['handling']}checked{/if} {if  !BugWorkPerm($myPermission,$onebuglist,$k)}disabled{/if}><span class="handling" style="color:$v[color]">$v[title]</span><!--{if $k != 4}--><span class="pipe"><img src="images/common/arrow.png"></span><!--{/if}-->
<!--{/loop}-->

</td>
</tr>
<tr>
	<td><h3>处理说明（用户前台可看到）</h3>
	<textarea name="message"></textarea></td>
</tr>
<tr>
	<td><h3>后台备注</h3>
	<textarea name="note"></textarea></td>
</tr>

<tr>
	<td class="last">
	<button type="button" onclick="javascript:BMDialog.post('$id','process');" class="bluebutton"> 提 交 </button>
	<button type="button" onclick="javascript:BMDialog.close();" class="graysmallbutton"> 取 消 </button>
	</td>
</tr>
</tbody></table>
</form></div>