
<link type="text/css" rel="stylesheet" href="css/manage.css" />
<link type="text/css" rel="stylesheet" href="static/qtip/jquery.qtip.css" />
<script type="text/javascript" src="static/qtip/jquery.qtip.min.js"></script>
<script type="text/javascript" src="static/qtip/imagesloaded.pkg.min.js"></script>
	<div class="mside">
		<h3>管理中心</h3>
		<ul>
			<!--{eval $i=0;}-->
			<!--{loop $manageitem_array $key $value}-->
				<!--{if in_array($key,$myaccessmenu)}-->
				<!--{eval $i++;}-->
				<li {if $action==$key}class="select">$value{else}><a href="manage.php?action={$key}">$value</a>{/if}</li>
				<!--{/if}-->
			<!--{/loop}-->
		</ul>
	</div><!-- mgmenu -->





