<!--{subtemplate common/header}-->
<!--{eval include template('header',0, './develop/manage/template');}-->

	<div class="mgcont">
		<h3>$manageitem_array[$action]</h3>
		<div class="mgcont">

<h1 id="sti" class="mt"> <em class="wx " id="returnmessage"> ① 文章列表 </em> </h1>
<table class="managetable" cellpadding="2" cellspacing="2" border="0" width="100%">
<tr class="tit">
	<td width="5%">ID</td>
	<td width="50%">标题</td>
	<td width="5%">首页</td>
	<td width="10%">分类</td>
	<td width="10%">专题</td>
	<td width="15%">管理</td>
</tr>

<!--{loop $articlelist $i $value}-->

<tr{if $i%2==1} class="diff"{/if}>
	<td>{$value[id]}</td>
	<td style="text-align:left;padding:0 10px"> <a href="{$value[titleurl]}">{$value[title]}</a> </td>
	<td>{echo $value[index]?'是':''}</td>
	<td >
	<!--{loop $Categorys $cid $name}-->
		{if  $cid == $value[category]}$name{/if}
	<!--{/loop}-->

	</td>
	<td>{$Topics[$article[topic]]}</a></td>
	<td>
	<a href="javascript:;" onclick="displayshow('#show_$value[id]')" class="sixba">查看全部内容</a>  |
	<a href="manage.php?action={$action}&do=edit&id={$value[id]}">编辑</a> | <a href="manage.php?action={$action}&do=del&id={$value[id]}">删除</a></td>
</tr>

<tr id="show_$value[id]" class="displayshow" style="display:none">
	<td class="bob" colspan="6"><!--{if $value[titlepic]}--><img height="100" src="{$value[titlepic]}" /><!--{else}--><img  src="develop/manage/template/images/no.gif" /><!--{/if}--> <br> $value['content']</td>
</tr>

<!--{/loop}-->

</table>
<script>
function displayshow(id){
	jQuery('.displayshow').hide();
	jQuery(id).show();

}

</script>
<br>
<form method="post" autocomplete="off" id="postform" action="manage.php?action={$action}" enctype="multipart/form-data">
	<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
	<!--{if $_G['gp_id']}-->
	<input type="hidden" name="id" id="id" value="{$_G['gp_id']}" />
	<!--{/if}-->
	<h1 id="sti" class="mt"> 
	<em class="wx " id="returnmessage"><a href="manage.php?action={$action}"> ② 发布新文章</a></em></h1>
	<!--{if $_G['gp_id']}-->
	<h1 id="sti" class="mt"> <em class="wx " id="returnmessage"> ③ 编辑文章 </em> : {$article[title]} (信息ID:{$_G['gp_id']})</h1>
	<!--{/if}-->
	<div id="postbox">
		<div class="pbt cl">
			<p>1.关联主题tid</p>
			<input type="text" name="article[tid]" id="article_tid" value="{$article[tid]}" class="px wd27em" /> <button type="button" id="postsubmit" value="true" name="keysubmit" onclick="readtidajax();">分析关键字/填充内容</button>
		</div>
		<script>
		function readtidajax(){
			var x = new Ajax();
			x.getJSON('manage.php?action=indexarticle&tid='+$('article_tid').value+'&inajax=1'+'&r='+(+ new Date()), function(ret){
				if(ret.scode== 1){
					$('article_tagtxts').value = ret.tagtxts;
					$('article_subject').value = ret.subject;
					$('article_content').value = ret.content;
				}
			});
		}
		</script>
		<div class="pbt cl">
			<p>2. 标题</p>
			<input type="text" name="article[title]"  id="article_subject" value="{$article[title]}" class="px wd27em" />
		</div>

		<div class="pbt cl">
			<p>3.标题链接  (默认不需要填写)</p>
			<input type="text" name="article[titleurl]" value="{$article[titleurl]}" class="px wd27em" />
		</div>
		<div class="pbt cl">
			<p>4.关键字</p>
			<input type="text" name="article[tagtxts]" id="article_tagtxts"  value="{$article[tagtxts]}" class="px wd27em" /> 
		</div>
		<div class="pbt cl">
			<p>5.文章归属分类 / 可以选择三个分类 也可以一个都不选</p>
			<select name="article[category]"  size="5">
				<!--{loop $Categorys $cid $name}-->
				<option value ="$cid" {if  $cid == $article[category]}selected="selected"{/if}  >$name</option>
				<!--{/loop}-->
			</select>
		</div>
		<div class="pbt cl">
			<p>6.专题</p>
			<select name="article[topic]"  class="pt wd20em">
				<option value ="$value[topic]"  >无专题</option>
			</select>
		</div>

		<div class="pbt cl">
			<p>7.内容简介</p>
			<textarea name="article[content]"  class="pt wd27em" style="height:300px"  id="article_content" >{$article[content]}</textarea>
		</div>

		<!--{if $article[titlepic]}-->
		<div class="pbt cl">
			<div class="z"> <span>
			<img src="{$article[titlepic]}" height="100">
				</span> </div>
		</div>
		<!--{/if}-->
		<div class="pbt cl">
			<p>8.标题图（大小：宽310、高145）</p>
			<input type="file"  name="titlepic"  class="px wd27em" />	
		</div>

		<div class="pbt cl">
			<p>9.是否显示在首页</p>
				<input type="radio" name="article[index]" {if $article[index]}checked="checked"{/if} value="1" >是; 
				<input type="radio"name="article[index]" {if !$article[index]}checked="checked"{/if} value="0">否
		</div>
		<div class="mtm"> </div>
		<div class="mtm mbm">
			<button type="submit" id="postsubmit" class="pn pnc" value="true" name="topicsubmit"><span><!--{if $_G['gp_id']}-->编辑文章<!--{else}-->发布文章<!--{/if}--></span></button>
			<input type="hidden" id="postsave" name="save" value="" />
		</div>
	</div>
</form>




		</div>
	</div>
</div></div>

<!--{subtemplate common/footer}-->