<!--{subtemplate common/header}-->
	<!--{eval include template('header',0, './develop/manage/template');}-->

	<!--{if $articlelist}-->

			<div class="mgcont">
		<div class="mgtit">
			$manageitem_array[$action]
			<input name="action" type="hidden" value="systemlog">
			<p><input id="search" name="search" placeholder="搜索内容"  value="$_GET[search]" type="text">
			<a href="manage.php?action=$action&operation=update" class="select">添加文章</a></p>
		</div>
				<div class="mgcont">

		<table class="managetable" cellpadding="2" cellspacing="2" border="0" width="100%">
		<tr class="tit">
			<td width="5%">ID</td>
			<td width="50%">标题</td>
			<td width="5%">首页</td>
			<td width="10%">分类</td>
			<td width="10%">专题</td>
			<td width="15%">管理</td>
		</tr>

		<!--{loop $articlelist $i $value}-->

		<tr{if $i%2==1} class="diff"{/if}>
			<td>{$value[id]}</td>
			<td style="text-align:left;padding:0 10px"> <a href="{$value[titleurl]}">{$value[title]}</a> </td>
			<td>{echo $value[index]?'是':''}</td>
			<td >
			<!--{loop $_Data['Categorys'] $cid $name}-->
				{if  $cid == $value[category]}$name{/if}
			<!--{/loop}-->

			</td>
			<td>{$Topics[$article[topic]]}</a></td>
			<td>
			<a href="javascript:;" onclick="displayshow('#show_$value[id]')" class="sixba">查看全部内容</a>  | 
			<a href="manage.php?action={$action}&operation=update&id={$value[id]}">编辑</a> | <a href="manage.php?action={$action}&operation=delete&id={$value[id]}">删除</a></td>

			</td>
		</tr>

		<tr id="show_$value[id]" class="displayshow" style="display:none">
			<td class="bob" colspan="6"><!--{if $value[titlepic]}--><img height="100" src="{$value[titlepic]}" /><!--{else}--><img  src="develop/manage/template/images/no.gif" /><!--{/if}--> <br> $value['content']</td>
		</tr>

		<!--{/loop}-->
			<!--{if $multipage}-->
			<tr>
				<td colspan="7">$multipage</th>
			</tr>
			<!--{/if}-->
		<!--{else}-->
		<tr>
			<td colspan="7">查询不到任何数据</th>
		</tr>
		<!--{/if}-->

</table>
<script>
function displayshow(id){
	jQuery('.displayshow').hide();
	jQuery(id).show();

}

</script>





		</div>
	</div>
</div></div>

<!--{subtemplate common/footer}-->