<!--{subtemplate common/header}-->
	<!--{eval include template('header',0, './develop/manage/template');}-->

	<!--{if $articlelist}-->

	<div class="mmain">
		<div class="mhead">
			<div class="mheadmenu"><a href="manage.php?action=$action&operation=update"{if $operation=='update'} class="select"{/if}>添加</a><a href="manage.php?action=$action&operation=list"{if $operation=='list'} class="select"{/if}>列表</a></div>
			<h3>$manageitem_array[$action]</h3>
		</div>
		<div class="mlist">

		<table cellpadding="2" cellspacing="2" width="100%">
		<tr class="managetablehead">
			<td width="5%" class="first">ID</td>
			<td width="45%">标题</td>
			<td width="5%">首页</td>
			<td width="10%">分类</td>
			<td width="10%">专题</td>
			<td width="23%" class="last">管理</td>
		</tr>

		<!--{loop $articlelist $i $value}-->

		<tr>
			<td class="first">{$value[id]}</td>
			<td> <a href="{$value[titleurl]}">{$value[title]}</a> </td>
			<td>{echo $value[index]?'是':''}</td>
			<td >
			<!--{loop $_Data['Categorys'] $cid $name}-->
				{if  $cid == $value[category]}$name{/if}
			<!--{/loop}-->

			</td>
			<td>{$Topics[$article[topic]]}</a></td>
			<td class="last">
			<a href="javascript:;" onclick="displayshow('#show_$value[id]')" class="graysmallbutton">查看内容</a><a href="manage.php?action={$action}&operation=update&id={$value[id]}" class="graysmallbutton">编辑</a><a href="manage.php?action={$action}&operation=delete&id={$value[id]}" class="graysmallbutton">删除</a></td>
			</td>
		</tr>

		<tr id="show_$value[id]" class="displayshow" style="display:none">
			<td class="bob" colspan="6"><!--{if $value[titlepic]}--><img height="100" src="{$value[titlepic]}" /><!--{else}--><img  src="develop/manage/template/images/no.gif" /><!--{/if}--> <br> $value['content']</td>
		</tr>

		<!--{/loop}-->
		<!--{else}-->
		<tr>
			<td colspan="7">查询不到任何数据</th>
		</tr>
		<!--{/if}-->
</table>

<!--{if $multipage}-->
				$multipage
			<!--{/if}-->
<script>
function displayshow(id){
	jQuery('.displayshow').hide();
	jQuery(id).show();

}

</script>

	</div>
</div>

<!--{subtemplate common/footer}-->