<!--{subtemplate common/header}-->
<!--{eval include template('header',0, './develop/manage/template');}-->



		<div class="mmain">
		<div class="mhead">
				<h3>$manageitem_array[$action]</h3>
			</div>
			<form method="post" autocomplete="off" action="manage.php?action={$action}&operation=update" enctype="multipart/form-data">
			<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
			<!--{if $id}-->
			<input type="hidden" name="id" value="{$id}" />
			<!--{/if}-->
			<div class="mlist noborder">
			<table cellpadding="2" cellspacing="2" border="0" width="100%">
				<tr>
					<td class="name">稳定版版本</td>
					<td  ><input type="text" name="product[stable]" class="px" value="{$product['stable']}" /></td>
				</tr>
				<tr>
					<td class="name">稳定版更新时间</td>
					<td  ><input type="text" name="product[stabledateline]" class="px" value="{$product['stabledateline']}" /></td>
				</tr>
				<tr>
					<td class="name">开发版版本</td>
					<td  ><input type="text" name="product[develop]" class="px" value="{$product['develop']}" /></td>
				</tr>
				<tr>
					<td class="name">开发版更新时间</td>
					<td  ><input type="text" name="product[developdateline]" class="px" value="{$product['developdateline']}" /></td>
				</tr>
				<tr>
					<td ></td>
					<td ><button type="submit" id="postsubmit" class="bluebutton" value="true" name="topicsubmit"><span>更新</span></button>
					</td>
				</tr>
			</table>
			</form>
		</div>
		</div><!-- mgcont -->
	</div><!-- manage -->

</div>

<!--{subtemplate common/footer}-->