<!--{subtemplate common/header}-->
<!--{eval include template('header',0, './develop/manage/template');}-->

	<div class="mmain">
		<div class="mhead"><h3>$manageitem_array[$action]</h3></div>
		<div class="mlist">

<table cellpadding="2" cellspacing="2" width="100%" >
<tr class="managetablehead">
	<td >版区名称</td>
	<td >版块名称</td>
	<td >静态URL别名</td>
	<td >管理</td>
</tr>
<!--{loop $partforumslist $value}-->
	<tr class="managetr">
		<td  colspan="2"  style="text-align: left;"><a href="forum.php?mod=forumdisplay&fid={$value[fid]}" target="_blank" style="color:red"> {$value[name]} / $value[fid]<!--{if $value[name] != $forumslist[$value[fid]][name]}--> <SUB>/ {$forumslist[$value[fid]][name]}</SUB><!--{/if}--> <!--{if $value[staticname]}--><a href="/{$value[staticname]}/" target="_blank" style="color:red">/{$value[staticname]}/</a><!--{/if}--></a></td>
		<td ></td>
		<td ><a href="manage.php?action={$action}&id={$value[fid]}#staticlink">自定义</a></td>
	</tr>
	<!--{loop $value['subforums'] $value2}-->
		<tr>
			<td colspan="2"  style="text-align: left;padding-left:60px"><a href="forum.php?mod=forumdisplay&fid={$value2[fid]}" target="_blank"> {$value2[name]} / $value2[fid]<!--{if $value2[name] != $forumslist[$value2[fid]][name]}--> <SUB>/ {$forumslist[$value2[fid]][name]}</SUB><!--{/if}--></td>
			<td ><!--{if $value2[staticname]}--><a href="/{$value2[staticname]}/" target="_blank" style="color:red">/{$value2[staticname]}/</a><!--{/if}--></td>
			<td ><a href="manage.php?action={$action}&id={$value2[fid]}#staticlink">自定义</a></td>
		</tr>
		<!--{loop $value2['subforums'] $value3}-->
			<tr>
				<td  colspan="2"  style="text-align: left;padding-left:120px"><a href="forum.php?mod=forumdisplay&fid={$value3[fid]}" target="_blank"> {$value3[name]} / $value3[fid]<!--{if $value3[name] != $forumslist[$value3[fid]][name]}--> <SUB>/ {$forumslist[$value3[fid]][name]}</SUB><!--{/if}--></td>
				<td ><!--{if $value3[staticname]}--><a href="/{$value3[staticname]}/" target="_blank" style="color:red">/{$value3[staticname]}/</a><!--{/if}--></td>
				<td ><a href="manage.php?action={$action}&id={$value3[fid]}#staticlink">自定义</a></td>
			</tr>
		<!--{/loop}-->
	<!--{/loop}-->
<!--{/loop}-->
</table>
</div>
<a name="staticlink"></a>
<form method="post" autocomplete="off" id="postform" action="manage.php?action={$action}" enctype="multipart/form-data">
	<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />

	<h1 id="sti" class="mlistboxhead"> <em class="wx " id="returnmessage">定制静态URL别名</em></h1>
	<div id="postbox" class="mlist">

		<div class="pbt cl">
			<div class="z" > <span>
					<select name="forumstatic[fid]" style="width: 25.8em" onchange="changefid(this)">
<!--{loop $partforumslist $value}-->
	<option value ="$value[fid]" style="color:red" {if $value[fid] == $forumstatic[fid]}selected="selected"{/if}>$value[name]</option>
	<!--{loop $value['subforums'] $value2}-->
	<option value ="$value2[fid]" value ="$value2[fid]" {if $value2[fid] == $forumstatic[fid]}selected="selected"{/if}>&nbsp;&nbsp;&nbsp;|- $value2[name]</option>
		<!--{loop $value2['subforums'] $value3}-->
		<option value ="$value3[fid]" value ="$value3[fid]" {if $value3[fid] == $forumstatic[fid]}selected="selected"{/if}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|- $value3[name]</option>
		<!--{/loop}-->
	<!--{/loop}-->

<!--{/loop}-->
					</select>

<script type="text/javascript">
	var forumstatic=new Object();{LF}
	<!--{loop $staticlink $value}-->
	forumstatic.f{$value[fid]}="{$value[staticname]}";
	<!--{/loop}-->
  	function changefid(fid){
		var key = 'f'+fid.value;
		if(forumstatic[key] != undefined){
			$('forumstatic_staticname').value = forumstatic[key];
		}else{
			$('forumstatic_staticname').value = '';
		}
  	}
  </script>

				</span> <span id="subjectchk">&nbsp;定制版块</span></div>
		</div>
		<div class="pbt cl">
			<div class="z"> <span><input id="forumstatic_staticname" type="text" name="forumstatic[staticname]" value="{$forumstatic[staticname]}" id="subject" class="px"  onkeyup="strLenCalc(this, 'checklen', 80);" tabindex="1" style="width: 25em" />
				</span> <span id="subjectchk">静态URL别名</span></div>
		</div>
		<div class="mtm"> </div>
		<div class="mtm mbm">
			<button type="submit" id="postsubmit" class="bluebutton" value="true" name="topicsubmit"><span>编辑应用</span></button>
			<input type="hidden" id="postsave" name="save" value="" />
		</div>
	</div>
</form>

		</div>
	</div>
</div></div>

<!--{subtemplate common/footer}-->
