<!--{subtemplate common/header}-->
	<!--{eval include template('header',0, './develop/manage/template');}-->
	<div class="mgcont">
	<form accept-charset="UTF-8" action="manage.php?action=systemlog"  method="get">
		<div class="mgtit">
			$manageitem_array[$action]
			<input name="action" type="hidden" value="systemlog">
			<p><input id="search" name="search" placeholder="搜索内容"  value="$_GET[search]" type="text">
			<a href="manage.php?action=$action&operation=clear" class="select">清理平台日志</a></p>
		</div>
		</form>

		<table class="managetable" cellpadding="0" cellspacing="0" border="0">
		<tr class="tit">
			<td width="10"></td>
			<td width="100">用户名</td>
			<td width="100">模块</td>
			<td width="50">方式</td>
			<td width="200">URL</td>
			<td width="150">时间</td>
			<td>内容</td>
		</tr>
		<!--{if $systemlogs}-->
		<!--{loop $systemlogs $i $value}-->

		<tr{if $i%2==1} class="diff"{/if}>
			<td></td>
			<td><a href="home.php?mod=space&uid={$value[uid]}" title="{$value[uid]}">{$value[username]}</a></td>
			<td>$manageitem_array[$value[action]]</td>
			<td>$value[method]</td>
			<td>$value[url]</td>
			<td>{echo date('Y-m-d H:i',$value[dateline]);}</td>
			<td>$value[request]</td>

		</tr>


		<!--{/loop}-->
			<!--{if $multipage}-->
			<tr>
				<td colspan="7">$multipage</th>
			</tr>
			<!--{/if}-->
		<!--{else}-->
		<tr>
			<td colspan="7">查询不到任何数据</th>
		</tr>
		<!--{/if}-->
		</table>

	</div><!-- mgcont -->
</div><!-- manage -->

</div>
<script>
jQuery('._qtip [title!=""]').qtip({
	position: {my: 'bottom left', at: 'top left',adjust:{method: 'flip'}}
});
</script>
<!--{subtemplate common/footer}-->