<!--{subtemplate common/header}-->
	<!--{eval include template('header',0, './develop/manage/template');}-->
	<div class="mmain">
		<div class="mhead">
			<div class="mheadmenu"><a href="manage.php?action=$action&operation=update"{if $operation=='update'} class="select"{/if}>添加</a><a href="manage.php?action=$action&operation=list"{if $operation=='list'} class="select"{/if}>列表</a></div>
			<h3>$manageitem_array[$action]</h3>
		</div>

		<div class="mlist">
		<table cellpadding="0" cellspacing="0" width="100%">
			<tr class="managetablehead">
				<td width="5%" class="first">排序</td>
				<td width="45%">标题</td>
				<td width="35%">焦点信息</td>
				<td width="15%" class="last">管理</td>
			</tr>
			<!--{if $topicfocuslist}-->

			<!--{loop $topicfocuslist $key $value}-->
			<tr>
				<td class="first">{$value[order]}</td>
				<td><a href="{$value[url]}"><strong class="bluec">{$value[title]}</strong></a> <br /><!--{if $value['info']}-->$value[info]<!--{/if}--></td>
				<td class="pic"><a href="{$value[url]}" target="_blank"><!--{if $value[pic]}--><img height="70" width="315"  src="{$value[pic]}" /><!--{else}-->无图<!--{/if}--></a><br />
				</td>

				<td class="last"><a href="manage.php?action={$action}&operation=update&id={$key}" class="graysmallbutton">编辑</a><a href="manage.php?action={$action}&operation=delete&id={$key}" class="graysmallbutton">删除</a>
				</td>
			</tr>
			<!--{/loop}-->
		<!--{else}-->
			<tr>
				<td colspan="4">查询不到任何数据</th>
			</tr>
		<!--{/if}-->
		</table>
		<!--{if $multipage}-->
				$multipage
			<!--{/if}-->
	</div>

	</div><!-- mgcont -->
</div><!-- manage -->

</div>

<!--{subtemplate common/footer}-->