<!--{subtemplate common/header}-->
<!--{eval include template('header',0, './develop/manage/template');}-->

	<div class="mgcont">
		<h3>$manageitem_array[$action]</h3>
		<div class="mgcont">



<h1 id="sti" class="mt"> <em class="wx " id="returnmessage"> ① 文章列表 </em> </h1>
<table class="managetable" cellpadding="2" cellspacing="2" border="1" width="100%">
<tr>
	<td width="8%" class="bob bluebg" style="text-align:center;">排序</td>
	<td width="35%" class="bob bluebg">标题</td>
	<td width="40%" class="bob bluebg">焦点信息</td>
	<td width="17%" class="bob bluebg">管理</td>
</tr>

<!--{loop $topicfocuslist $key $value}-->
<tr>
	<td class="bob" width="8%" style="text-align:center; font-weight:700;">{$value[order]}</td>
	<td class="bob" width="35%" style="line-height:22px;"><a href="{$value[url]}"><strong class="bluec">{$value[title]}</strong></a> <br /><!--{if $value['info']}-->$value[info]<!--{/if}--></td>
	<td class="bob mpic" width="40%"><a href="{$value[url]}" target="_blank"><!--{if $value[pic]}--><img height="70" width="263"  src="{$value[pic]}" /><!--{else}-->无图<!--{/if}--></a><br />
	</td>

	<td width="17%" class="bob mbu"><a href="manage.php?action={$action}&do=edit&id={$key}" class="sixba">编辑</a> | <a href="manage.php?action={$action}&do=del&id={$key}" class="sixba">删除</a></td>
</tr>
<!--{/loop}-->

</table>
<br>

<form method="post" autocomplete="off" id="postform" action="manage.php?action={$action}" enctype="multipart/form-data">
	<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
	<!--{if isset($_GET['id'])}-->
	<input type="hidden" name="id" id="id" value="{$_GET['id']}" />
	<!--{/if}-->
	<h1 id="sti" class="mt"> 
	<em class="wx " id="returnmessage"><a href="manage.php?action={$action}"> ② 发布新文章</a></em></h1>
	<!--{if isset($_GET['id'])}-->
	<h1 id="sti" class="mt"> <em class="wx " id="returnmessage"> ③ 编辑文章 </em> : {$article[title]} (信息ID:{$_GET['id']})</h1>
	<!--{/if}-->

	<div id="postbox">
		<div class="pbt cl">
			<p>1.焦点标题：</p>
			<input type="text" name="topicfocus[title]" value="{$topicfocus[title]}" id="subject" onkeyup="strLenCalc(this, 'checklen', 80);" class="px wd27em" />
		</div>
		<div class="pbt cl">
			<p>2.内容描述：</p>
			<textarea name="topicfocus[info]" id="e_textarea" class="px wd27em" style="height:200px" tabindex="2" rows="5" cols="60">{$topicfocus[info]}</textarea>
		</div>
		<div class="pbt cl">
			<p>3.链接地址：</p>
			<input type="text" name="topicfocus[url]" value="{$topicfocus[url]}"  onkeyup="strLenCalc(this, 'checklen', 80);" class="px wd27em" />
		</div>
		<div class="pbt cl">
			<p>4.排列顺序：</p>
			<input type="text" name="topicfocus[order]" value="{$topicfocus[order]}"  onkeyup="strLenCalc(this, 'checklen', 80);" class="px wd27em" style="width:95px;"/>
		</div>
		<div class="pbt cl">
			<!--{if $topicfocus[pic]}-->
			<div style="height:100px;"><img src="{$topicfocus[pic]}" height="100" width="376"></div>
			<!--{/if}-->
			<p>5.焦点图片：</p>
			<input type="file"  name="topicfocuspic"  class="px wd27em" style="width:95px;height:22px" tabindex="1" /><span id="subjectchk" class="left maname">640 * 170</span>

		</div>

		<div class="mtm"> </div>
		<div class="mtm mbm">
			<button type="submit" id="postsubmit" class="pn pnc" value="true" name="topicsubmit"><span><!--{if $_GET['id']}-->编辑<!--{else}-->发布<!--{/if}--></span></button>
			<input type="hidden" id="postsave" name="save" value="" />
		</div>
	</div>
</form>




		</div>
	</div>
</div></div>
<!--{subtemplate common/footer}-->