<!--{subtemplate common/header}-->
<!--{eval include template('header',0, './develop/manage/template');}-->



		<div class="mmain">
		<div class="mhead">
				<h3>$manageitem_array[$action]</h3>
		</div>
			<form method="post" autocomplete="off" action="manage.php?action={$action}&operation=update" enctype="multipart/form-data">
			<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
			<div class="mlist noborder">
			<table cellpadding="2" cellspacing="2" width="100%">
				<tr class="managetablehead">
					<td class="name">我的姓名</td>
					<td  ><input type="text" name="myinfo[name]" class="px" value="{$mydata['name']}" disabled/> </td>
				</tr>
				<tr class="managetablehead">
					<td class="name">我的团队</td>
					<td  ><input type="text" name="myinfo[team]" class="px" value="{$mydata['team']}" disabled/> </td>
				</tr>
				<tr class="managetablehead">
					<td class="name">我的itcode</td>
					<td  ><input type="text" name="myinfo[itcode]" class="px" value="{$mydata['itcode']}" /> &nbsp;{echo FieldsCheck('itcode');}（用于内部人员查看和交流）</td>
				</tr>
				<tr class="managetablehead">
					<td class="name">我的邮箱</td>
					<td  ><input type="text" name="myinfo[email]" class="px" value="{$mydata['email']}" /> &nbsp;{echo FieldsCheck('email');}</td>
				</tr>
				<tr class="managetablehead">
					<td class="name">我的电话</td>
					<td  ><input type="text" name="myinfo[phone]" class="px" value="{$mydata['phone']}" /> &nbsp;{echo FieldsCheck('phone');}</td>
				</tr>
				<tr class="managetablehead">
					<td class="name">我的马甲昵称</td>
					<td  ><input type="text" name="myinfo[another]" class="px" value="{$mydata['another']}" /> &nbsp;{echo FieldsCheck('another');}（非论坛用户名及姓名，主要用于个人信息的对外展示, 留空直显示您的姓名）</td>
				</tr>
				<tr class="managetablehead">
					<td class="name">我的工作头衔</td>
					<td  ><input type="text" name="myinfo[title]" class="px" value="{$mydata['title']}" /> &nbsp;{echo FieldsCheck('title');} 填写具体的工作内容相关的头衔.. 比如 VibeUi通信工程师 乐云笔记UI设计工程师</td>
				</tr>
				<tr class="managetablehead">
					<td class="name">我的马甲头像</td>
					<td  ><img src="$mydata['avatar']">
					<br><input type="file" name="avatar" class="px wd27em"> &nbsp;{echo FieldsCheck('avatar');}</td>
				</tr>
				<tr class="managetablehead">
					<td class="name"></td>
					<td ><button type="submit" id="postsubmit" class="bluebutton" value="true" name="topicsubmit"><span>完善我的信息</span></button>
					</td>
				</tr>
			</table>
		</div>
			</form>
		</div><!-- mgcont -->
	</div><!-- manage -->
</div>

<!--{subtemplate common/footer}-->