
		<!--{hook/global_header}-->
		
		<!--{if TopPoint == 'index'}-->
		<div class="sbox">
			<div class="sboxtitle"><h3 class="ht">热门论坛</h3></div>
			<div class="sboxsub">
				<ul class="sboxsubtable">
					<!--{loop $HotForums $key $value}-->
					<li><span class="toprank">$key</span><a href="forum.php?mod=forumdisplay&fid=$value[fid]">$value[name]</a></li>
					<!--{/loop}-->
				</ul>
			</div>
		</div>
		<!--{elseif TopPoint == 'model'}-->
			<!--{if !$_G['fid']}-->
			<div class="sbox">
				<div class="sboxtitle"><h3 class="ht">热门机型</h3></div>
				<div class="sboxsub">
					<ul class="sboxsubtable">
						<!--{loop $HotForums $key $value}-->
						<li><span class="toprank">{echo $key+1}</span><a href="forum.php?mod=forumdisplay&fid=$value[fid]">$value[name]</a></li>
						<!--{/loop}-->
					</ul>
				</div>
			</div>
			<!--{/if}-->
		<!--{elseif TopPoint == 'vibeui'}-->
		<div class="sbox special">
			<div class="speciallist">
				<div class="vibeuirenew">
					<div class="vibeuibutton"><a href="" class="bluesmallbutton">下载</a></div>
					<p>
						<span>稳定版</span><br />
						最新版本：$_G['cache']['product'][stable]</br />
						更新日期：$_G['cache']['product'][stabledateline]
					</p>
				</div>
				<div class="vibeuirenew">
					<div class="vibeuibutton"><a href="" class="bluesmallbutton">下载</a></div>
					<p>
						<span>开发版</span><br />
						最新版本：$_G['cache']['product'][develop]</br />
						更新日期：$_G['cache']['product'][developdateline]
					</p>
				</div>
				<div class="vibeuiguide">
					<a href="">刷机工具</a><span class="pipe">|</span><a href="">卡刷教程</a><span class="pipe">|</span><a href="">常见问题</a>
				</div>
			</div>
		</div>
		<!--{elseif TopPoint == 'apps'}-->
		<div class="sbox">
			<div class="sboxtitle"><h3 class="ht">热门产品</h3></div>
			<div class="sboxsub">
				<ul class="sboxsubtable">
					<!--{loop $HotForums $key $value}-->
					<li><span class="toprank">$key</span><a href="forum.php?mod=forumdisplay&fid=$value[fid]">$value[name]</a></li>
					<!--{/loop}-->
				</ul>
			</div>
		</div>
		<!--{elseif TopPoint == 'portal'}-->
		<!--{elseif TopPoint == 'buglist'}-->
			<!--{if CURMODULE == 'forumdisplay'}-->
			<div class="sbox">
				<div class="sboxtitle"><h3 class="ht">热门工程师</h3></div>
				<div class="sboxsub">
					<ul class="sboxsubrecommend sboxsubhot">
						<!--{loop $HotEngineers $value}-->
						<li>
							<div><img src="$value[avatar]" width="48" height="48"></div>
							<p><strong><!--{if $value[hide]}-->$value[another]<!--{else}-->$value[name]<!--{/if}--></strong></p>
							<p>$value[title]</p>
							<i title="本月处理了 $value[hnum] 个问题">$value[hnum]</i>
						</li>
						<!--{/loop}-->
					</ul>
				</div>
			</div>
			<!--{elseif CURMODULE == 'viewthread'}-->
			<div class="sbox special process">
				<div class="speciallist">
					<div class="processinfo">
						{if $bthread[hardware]}<div><strong>机型</strong><br />$BugOption[hardware][$bthread[hardware]][title]</div>{/if}
						{if $bthread[version]}<div><strong>机型</strong><br />$BugOption[version][$bthread[version]][title]</div>{/if}
						<div class="last"><strong>模块</strong><br />$bthread[classnavtxt]</div>
					</div>
				<!--{loop $_Data['buglist_handling'] $key $value}-->
					<!--{if $bthread['handlingnum']==1 && $bthread['handling']==4 && !in_array($key,array('0','4'))}-->
						<div class="processlist{if $bthread['handling'] == $key}  on{/if}">
							<i></i>
							<h3>$value[title]</h3>
							<p>$value[text]</p>
						</div>
					<!--{else}-->
						<!--{if $key<4 }-->
						<div class="processlist{if $bthread['handling'] == $key}  on{/if}">
							<i></i>
							<h3>$value[title]<!--{if $bthread['handling'] == $key}--><!--{if $bthread[supply] &&$bthread[supplytime]}-->[用户已补充]<!--{elseif $bthread[supply]}-->[需要用户补充]<!--{/if}--><!--{/if}--></h3>
							<p>$value[text]</p>
						</div>
						<!--{/if}-->
					<!--{/if}-->
				<!--{/loop}-->
				</div>
			</div>
			<!--{/if}-->
			
			<div class="sbox">
				<div class="sboxtitle"><h3 class="ht">热门问题</h3></div>
				<div class="sboxsub">
					<ul class="sboxsubtext">
					<!--{loop $HotBugs $thread}-->
						<li><a href="forum.php?mod=viewthread&fid=$thread[fid]&tid=$thread[tid]">$thread[subject]</a></li>
					<!--{/loop}-->
					</ul>
				</div>
			</div>

		<!--{/if}-->
		
		<!--{if TopPoint != 'buglist' && CURMODULE != 'viewthread'}-->
		<div class="sbox">
			<div class="sboxtitle"><h3 class="ht">{if CURMODULE == 'forumdisplay'}版主推荐{else}推荐阅读{/if}</h3></div>
			<div class="sboxsub">
				<ul class="sboxsubrecommend">
				<!--{loop $RecomThreads $key $thread}-->
				<li><div><a href="forum.php?mod=viewthread&fid=$thread[fid]&tid=$thread[tid]"><img src="$thread[filename]" width="80" height="60"></a></div><a href="forum.php?mod=viewthread&fid=$thread[fid]&tid=$thread[tid]">$thread[subject]</a></li>
				<!--{/loop}-->
				
				</ul>
			</div>
		</div>
		<!--{/if}-->
		<!--{if TopPoint != 'buglist'}-->
		<div class="sbox">
			<div class="sboxtitle"><h3 class="ht">{if CURMODULE == 'viewthread'}相关帖子{else}热帖{/if}</h3></div>
			<div class="sboxsub">
				<ul class="sboxsubtext">
					<!--{if CURMODULE == 'viewthread'}-->
						<!--{eval $HotThreads = $postlist[$_G[forum_firstpid]]['relateitem'];}-->
					<!--{/if}-->

					<!--{loop $HotThreads $key $thread}-->
						<li><span class="toprank">{echo $key+1}</span><a href="forum.php?mod=viewthread&fid=$thread[fid]&tid=$thread[tid]">$thread[subject]</a></li>
					<!--{/loop}-->
				</ul>
			</div>
		</div>
		<!--{/if}-->
		<div class="sbox">
			<div class="sboxtitle"><span class="more"><a href="" title="更多">更多</a></span><h3 class="ht">活动</h3></div>
			<div class="sboxsub">
				<div class="sboxsubimg">
					<a href=""><img src="images/hd/test1.gif" height="100" width="240"></a>
					<a href=""><img src="images/hd/test2.gif" height="100" width="240"></a>
				</div>
			</div>
		</div>



