
		<!--{hook/global_header}-->

		<div class="sbox">
			<div class="sboxtitle"><h3 class="ht">热门论坛</h3></div>
			<div class="sboxsub">
				<ul class="sboxsubtable">
					<li><span class="toprank">1</span><a href="">Vibe Z</a></li><li><span class="toprank">2</span><a href="">K910</a></li>
					<li><span class="toprank">3</span><a href="">K860</a></li><li><span class="topranks">4</span><a href="">S820t</a></li>
					<li><span class="topranks">4</span><a href="">P780</a></li><li><span class="topranks">6</span><a href="">K8</a></li>
					<li><span class="topranks">7</span><a href="">Vibe UI</a></li><li><span class="topranks">8</span><a href="">茄子快传</a></li>
					<li><span class="topranks">9</span><a href="">美图</a></li><li><span class="topranks">10</span><a href="">自拍广场</a></li>
				</ul>
			</div>
		</div>

		<div class="sbox">
			<div class="sboxtitle"><h3 class="ht">推荐阅读</h3></div>
			<div class="sboxsub">
				<ul class="sboxsubrecommend">
					<li><div><a href=""><img src="test/list1.png" width="80" height="60"></a></div><a href="">百度可穿戴设备网站上线:智能手表亮相</a></li>
					<li><div><a href=""><img src="test/list2.png" width="80" height="60"></a></div><a href="">创业公司如何做可穿戴设备?小米会做可穿戴设备吗? </a></li>
					<li><div><a href=""><img src="test/list3.png" width="80" height="60"></a></div><a href="">八核TCL idolX+全球首发 可穿戴设备同期发布</a></li>
				</ul>
			</div>
		</div>

		<div class="sbox">
			<div class="sboxtitle"><h3 class="ht">热帖</h3></div>
			<div class="sboxsub">
				<ul class="sboxsubtext">
					<li><span class="toprank">1</span><a href="">百度可穿戴设备网站上线</a></li>
					<li><span class="toprank">2</span><a href="">百度可穿戴设备网站上线:智能手表亮相</a></li>
					<li><span class="toprank">3</span><a href="">谷歌眼镜明年12月上市</a></li>
					<li><span class="topranks">4</span><a href="">真实体验吐槽 大家评智能腕表有多弱</a></li>
					<li><span class="topranks">5</span><a href="">让你时刻保持清醒的逆天神器</a></li>
					<li><span class="topranks">6</span><a href="">谷歌眼镜明年12月上市</a></li>
					<li><span class="topranks">7</span><a href="">真实体验吐槽 大家评智能腕表有多弱</a></li>
					<li><span class="topranks">8</span><a href="">让你时刻保持清醒的逆天神器</a></li>
					<li><span class="topranks">9</span><a href="">谷歌眼镜明年12月上市</a></li>
					<li><span class="topranks">10</span><a href="">真实体验吐槽 大家评智能腕表有多弱</a></li>
				</ul>
			</div>
		</div>

		<div class="sbox">
			<div class="sboxtitle"><span class="more"><a href="">更多</a></span><h3 class="ht">活动</h3></div>
			<div class="sboxsub">
				<div class="sboxsubimg">
					<a href=""><img src="test/hd1.png" height="100" width="240"></a>
					<a href=""><img src="test/hd1.png" height="100" width="240"></a>
				</div>
			</div>
		</div>

		<div class="sbox special">
			<div class="speciallist">
				<div class="vibeuirenew">
					<div class="vibeuibutton"><a href="" class="bluesmallbutton">下载</a></div>
					<p>
						<span>稳定版</span><br />
						最新版本：V1.0_1411_3_ST</br />
						更新日期：2014-3-13
					</p>
				</div>
				<div class="vibeuirenew">
					<div class="vibeuibutton"><a href="" class="bluesmallbutton">下载</a></div>
					<p>
						<span>开发版</span><br />
						最新版本：V1.0_1411_3_ST</br />
						更新日期：2014-3-13
					</p>
				</div>
				<div class="vibeuiguide">
					<a href="">刷机工具</a><span class="pipe">|</span><a href="">卡刷教程</a><span class="pipe">|</span><a href="">常见问题</a>
				</div>
			</div>
		</div>

		<div class="sbox">
			<div class="sboxtitle"><h3 class="ht">热门工程师</h3></div>
			<div class="sboxsub">
				<ul class="sboxsubrecommend sboxsubhot">
					<li>
						<div><img src="test/list1.png" width="48" height="48"></div>
						<p><strong>小乐GOGOGO</strong></p>
						<p>Vibe UI</p>
						<i title="已解决 56 个问题">56</i>
					</li>
					<li>
						<div><img src="test/ar.jpg" width="48" height="48"></div>
						<p><strong>御道凰神</strong></p>
						<p>乐商店</p>
						<i title="已解决 56 个问题">56</i>
					</li>
				</ul>
			</div>
		</div>

		<div class="sbox special process">
			<div class="speciallist">
				<div class="processinfo">
					<div><strong>机型</strong><br />k900</div>
					<div><strong>版本</strong><br />10.3.21</div>
					<div class="last"><strong>模块</strong><br />Vibe UI > 系统升级</div>
				</div>
				<div class="processlist">
					<i></i>
					<h3>新提交</h3>
					<p>等待信息专员确认反馈问题</p>
				</div>
				<div class="processlist on" title="当前状态">
					<i></i>
					<h3>待解决</h3>
					<p>问题已经提交至联想工程师，等待解决</p>
				</div>
				<div class="processlist">
					<i></i>
					<h3>正在解决</h3>
					<p>联想工程师知晓并答复问题</p>
				</div>
				<div class="processlist">
					<i></i>
					<h3>已解决</h3>
					<p>问题已解决</p>
				</div>
		    </div>
		</div>