<!--{template common/header}-->

<div id="main">

		<!--{loop $catlist $key $cat}-->
		<div class="listbg" id="category_$cat[fid]">
			<div class="forumlist">
				<div class="sboxtitle"><!--{if $cat['moderators']}--><span class="right">{lang forum_category_modedby}: $cat[moderators]</span><!--{/if}--><h3 class="ht">$cat[name]</h3></div>
				<div class="fivelist bbslist">
					<ul>
						<!--{loop $cat[forums] $forumid}-->
						<!--{eval $forum=$forumlist[$forumid];}-->
						<!--{eval $forumurl = !empty($forum['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$forum['domain'].'.'.$_G['setting']['domain']['root']['forum'] : 'forum.php?mod=forumdisplay&fid='.$forum['fid'];}-->
						<!--{if $cat['forumcolumns']}-->
						<!--{else}-->
						<li>
							<div class="foruminfo">
								<p class="forumicon"><!--{if $forum[icon]}-->$forum[icon]<!--{else}--><a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}><img src="images/extend/nophone.png" alt="$forum[name]" /></a><!--{/if}--></p>
								<p class="forumname"><strong><a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}{if $forum[extra][namecolor]} style="color: {$forum[extra][namecolor]};"{/if}>$forum[name]</a></strong></p>
								<p class="forumcount" title="{lang forum_todayposts}">今日：$forum[todayposts]</p>
							</div>
						</li>
						<!--{/if}-->
						<!--{/loop}-->
					</ul>
				</div>
			</div>
		</div>
		<!--{/loop}-->

		<div class="listbg">
			<div class="forumlist">
				<div class="sboxtitle"><h3 class="ht">应用论坛</h3></div>
				<div class="fourlist bbslist">
					<ul>
						<li>
							<div class="foruminfo">
								<p class="forumicon"><a href="list.html"><img src="test/le1.png" width="72" height="72"></a></p>
								<p class="forumname"><strong><a href="list.html">乐云笔记</a></strong></p>
								<p class="forumcount">今日：3982</p>
							</div>
						</li>
						<li>
							<div class="foruminfo">
								<p class="forumicon"><a href="list.html"><img src="images/extend/noicon.png" width="72" height="72"></a></p>
								<p class="forumname"><strong><a href="list.html">茄子快传</a></strong></p>
								<p class="forumcount">今日：3982</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="listbg">
			<div class="forumlist">
				<div class="sboxtitle"><h3 class="ht">资源下载</h3></div>
				<div class="twolist bbslist">
					<ul>
						<li>
							<div class="foruminfo">
								<p class="forumicon"><a href="list.html"><img src="test/le6.png" width="48" height="48"></a></p>
								<p class="forumname"><strong><a href="list.html">应用资源</a></strong><span title="今日发帖">3422<i></i></span></p>
								<p class="forumabout">集合了最新最全的生活娱乐系统应用评测下载</p>
								<p class="forumcount">主题：24231<span class="pipe">/</span>帖数：40万</p>
							</div>
						</li>
						<li>
							<div class="foruminfo">
								<p class="forumicon"><a href="list.html"><img src="test/le6.png" width="48" height="48"></a></p>
								<p class="forumname"><strong><a href="list.html">游戏资源</a></strong><span title="今日发帖">3422<i></i></span></p>
								<p class="forumabout">手机大型、单机、网络游戏下载分享</p>
								<p class="forumcount">主题：24231<span class="pipe">/</span>帖数：40万</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="forumlist">
				<div class="sboxtitle"><h3 class="ht">娱乐休闲</h3></div>
				<div class="twolist bbslist">
					<ul>
						<li>
							<div class="foruminfo">
								<p class="forumicon"><a href="list.html"><img src="test/le6.png" width="48" height="48"></a></p>
								<p class="forumname"><strong><a href="list.html">乐粉杂谈</a></strong><span title="今日发帖">3422<i></i></span></p>
								<p class="forumabout">集合了最新最全的生活娱乐系统应用评测下载</p>
								<p class="forumcount">主题：24231<span class="pipe">/</span>帖数：40万</p>
							</div>
						</li>
						<li>
							<div class="foruminfo">
								<p class="forumicon"><a href="list.html"><img src="test/le6.png" width="48" height="48"></a></p>
								<p class="forumname"><strong><a href="list.html">自拍</a></strong><span title="今日发帖">3422<i></i></span></p>
								<p class="forumabout">手机大型、单机、网络游戏下载分享</p>
								<p class="forumcount">主题：24231<span class="pipe">/</span>帖数：40万</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

</div>

<div id="sidebar">
	<!--{template extend/sidebar}-->
</div>




<!--{template common/footer}-->
