<!--{template common/header}-->


<!--{if $navigation}-->
<div class="breadcrumbs">
		<a href="./">$_G[setting][bbname]</a>$navigation
</div>
<!--{/if}-->
<div id="main">

	<!--{loop $catlist $key $cat}-->
	<div class="listbg" id="category_$cat[fid]">
		<div class="forumlist">
			<div class="sboxtitle"><!--{if $cat['moderators']}--><span class="right">{lang forum_category_modedby}: $cat[moderators]</span><!--{/if}--><h3 class="ht">$cat[name]</h3></div>
			<div class="{if $cat[forumcolumns] == 5}fivelist {elseif $cat[forumcolumns] == 4}fourlist {else}twolist {/if}bbslist">
				<ul>
					<!--{loop $cat[forums] $forumid}-->
					<!--{eval $forum=$forumlist[$forumid];}-->
					<!--{eval $forumurl = !empty($forum['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$forum['domain'].'.'.$_G['setting']['domain']['root']['forum'] : 'forum.php?mod=forumdisplay&fid='.$forum['fid'];}-->
						<!--{if $cat[forumcolumns] == 4 ||$cat[forumcolumns] == 5}-->
						<li>
							<div class="foruminfo">
								<p class="forumicon"><!--{if $forum[icon]}-->$forum[icon]<!--{else}--><a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}><img src="{if $cat[forumcolumns] == 4}images/extend/noicon.png{elseif $cat[forumcolumns] == 5}images/extend/nophone.png{/if}" alt="$forum[name]" /><!--{/if}--></a></p>
								<p class="forumname"><strong><a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}{if $forum[extra][namecolor]} style="color: {$forum[extra][namecolor]};"{/if}>$forum[name]</a></strong></p>
								<p class="forumcount" title="{lang forum_todayposts}">今日：<!--{echo dnumber($forum[todayposts])}--></p>
							</div>
						</li>
						<!--{else}-->
							<li>
								<div class="foruminfo">
									<p class="forumicon"><a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}><!--{if $forum[icon]}-->$forum[icon]<!--{/if}--></a></p>
									<p class="forumname"><strong><a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}{if $forum[extra][namecolor]} style="color: {$forum[extra][namecolor]};"{/if}>$forum[name]</a></strong><span title="今日发帖"><!--{echo dnumber($forum[todayposts])}--><i></i></span></p>
									<p class="forumabout">$forum[description]</p>
									<p class="forumcount">{lang forum_threads}：<!--{echo dnumber($forum[threads])}--><span class="pipe">/</span>{lang forum_posts}：<!--{echo dnumber($forum[posts])}--></p>
								</div>
							</li>
						<!--{/if}-->
					<!--{/loop}-->
				</ul>
			</div>
		</div>
	</div>
	<!--{/loop}-->



</div>

<div id="sidebar">
	<!--{template extend/sidebar}-->
</div>




<!--{template common/footer}-->
