<!--{eval}-->
<!--


function profile_node_numbercard($post, $s, $e) {
	foreach($post['numbercard'] as $numbercardkey => $numbercard) $return .= ($numbercardkey == 2 ? '<td>' : '<th>').'<p><a href="'.$numbercard[link].'"">'.dnumber($numbercard[value]).'</a></p>'.$numbercard[lang].($numbercardkey == 2 ? '</td>' : '</th>');
-->
<!--{/eval}-->
<!--{block return}-->$s<table cellspacing="0" cellpadding="0">$return</table>$e<!--{/block}-->
<!--{eval}-->
<!--
	return $return;
}

function profile_node_medal($post, $s, $e) {
	if(!$post['medals']) return;
	foreach($post['medals'] as $medal) $return .= '<img id="md_'.$post['pid'].'_'.$medal['medalid'].'" src="'.STATICURL.'image/common/'.$medal['image'].'" alt="'.$medal['name'].'" title="" onmouseover="showMenu({\'ctrlid\':this.id, \'menuid\':\'md_'.$medal['medalid'].'_menu\', \'pos\':\'12!\'})" />';
-->
<!--{/eval}-->
<!--{block return}-->$s<a href="home.php?mod=medal">$return</a>$e<!--{/block}-->
<!--{eval}-->
<!--
	return $return;
}


function profile_node_upgradeprogress($post, $s, $e, $upgrademenu = 1) {
	if($post['upgradecredit'] !== false) {
		$menu = profile_node_upgrade_menu($post);
-->
<!--{/eval}-->
<!--{block return}-->
	$s<span class="pbg2" {if $upgrademenu} id="upgradeprogress_$post[pid]" onmouseover="showMenu({'ctrlid':this.id, 'pos':'12!', 'menuid':'g_up$post[pid]_menu'});"{/if}><span class="pbr2" style="width:$post['upgradeprogress']%;"></span></span>$e
	<!--{if $upgrademenu}-->$menu<!--{/if}-->
<!--{/block}-->
<!--{eval}-->
<!--
		return $return;
	}
}

-->
<!--{/eval}-->


