<!--{template common/header}-->

<!--{subtemplate home/spacecp_header}-->

<script type="text/javascript" src="{$_G[setting][jspath]}register.js?{VERHASH}"></script>
<p class="bbda pbm mbm">您可以管理您的账号和联想通行证之间的关系</p>

		<!--{if $user && $user['lenovoid']}-->
		<button type="submit" name="pwdsubmit" value="true" class="pn pnc" onclick="location.href='lenovo.php?act=unbinding'"/><strong>解除联想通行证绑定</strong></button>
		<!--{else}-->
		<button type="submit" name="pwdsubmit" value="true" class="pn pnc" onclick="location.href='lenovo.php?act=binding'" /><strong>绑定我的联想通行证</strong></button>
		<!--{/if}-->

		</div>
	</div>
	<div class="appl">
		<!--{subtemplate home/spacecp_footer}-->
	</div>
</div>

<!--{template common/footer}-->
