<!--{template common/header}-->

<!--{subtemplate home/spacecp_header}-->

<script type="text/javascript" src="{$_G[setting][jspath]}register.js?{VERHASH}"></script>
<p class="bbda pbm mbm">使用 <font color="blue">联想通行证 LenovoID</font> 注册, 以及 <font color="blue">乐Phone之家</font>, <font color="blue">乐粉帮论坛</font> 的老用户享有<font color=red>一次</font>修改账号信息(用户名,邮箱地址)的机会</p>
<form action="home.php?mod=spacecp&ac=plugin&opdo=accountchange&haierspi=1" method="post" autocomplete="off">
	<input type="hidden" value="{FORMHASH}" name="formhash" />
	<table summary="{lang memcp_profile}" cellspacing="0" cellpadding="0" class="tfm">
		<tr>
			<th></th>
			<td>
				<p class="d">新的账号名称 (请修改)</p>
				<input type="text" name="newusername" class="px" value="$_G[username]" />
			</td>
		</tr>
		<tr>
			<th></th>
			<td>
				<p class="d">新的邮箱地址 (请填写,请确认该邮箱可以接收到信息 主要用于账号保护 以及 奖品通知)</p>
				<input type="text" name="newemail" id="newemail"class="px" spellcheck="false" autocomplete="off" value="$MyAcc[email]"/>
			</td>
		</tr>
		<tr>
			<th></th>
			<td>
				<p class="d">新密码 (请填写)</p>
				<input type="password" name="newpassword" class="px"  spellcheck="false" autocomplete="off" value=""/>
			</td>
		</tr>
		<tr>
			<th></th>
			<td>
				<p class="d">确认新密码 (请填写)</p>
				<input type="password" name="newconfirmpassword" class="px" spellcheck="false" autocomplete="off"  value=""/>
			</td>
		</tr>
				
				
		<tr>
			<th>&nbsp;</th>
			<td><button type="submit" name="pwdsubmit" value="true" class="pn pnc" /><strong>确认修改</strong></button></td>
		</tr>
	</table>
	<input type="hidden" name="passwordsubmit" value="true" />
</form>

		</div>
	</div>
	<div class="appl">
		<!--{subtemplate home/spacecp_footer}-->
	</div>
</div>

<!--{template common/footer}-->
